{% extends "layout.html" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
      {% if provideVersion == 'text-area' %}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Enter the waste types for:</br> {{title}}
    </legend>
    {% else %}
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Upload the waste types for:</br> {{title}}
    </legend>
    {% endif %}


    {% if error === 'wrong-filetype' %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        You tried to upload the wrong type of file
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#upload">The file type must be CSV</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

    {% if error === 'no-codes' %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
          We couldn't find any EWC codes in your file
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#upload">Your file must have codes in the first column and descriptions in the second column</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}


    {% if provideVersion == 'upload-no-template' %}
    <p>Create your list in a spreadsheet (CSV files only) and upload it here.</p>
  
    <p>
      You must use this table format:
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-bordered">06 01 01*</td>
            <td class="govuk-table__cell table-bordered">Sulphuric acid and sulphurous acid</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-bordered">06 01 02*</td>
            <td class="govuk-table__cell table-bordered">Hydrochloric acid</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-bordered">06 01 04*</td>
            <td class="govuk-table__cell table-bordered">Phosphoric and phosphorous acid</td>
          </tr>
        </tbody>
      </table>
    </p>
    {% elif provideVersion == 'upload-template' %}
    <p>Create your list in a spreadsheet and upload it here (CSV files only).</p>
    
    <p>
      Follow these steps:
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/public/images/ewc-codes-template.csv">Download our template</a> or use your own spreadsheet</li>
        <li>Enter your list of codes and descriptions, then save it as a CSV file</li>
        <li>Upload the CSV file using the box below</li>
      </ul>
    </p>
    {% else %}
    <p>Enter your codes in the box below, using a comma to separate each one, for example: 01 02 03, 34 56 23, 95 48 28*.</p>
    <p>You can also copy and paste them directly from a spreadsheet (no commas needed).</p>
    {% endif %}

    <p>Use the codes and descriptions from the List of Waste or European Waste Catalogue (EWC). You can find these in the <a href="https://www.gov.uk/government/publications/waste-classification-technical-guidance" target="_blank">waste classification technical guidance (opens new tab).</a></p>
    
    {% if provideVersion == 'upload-template' or provideVersion == 'upload-no-template' %}
    <p>If the waste code ends in 99, you must give a full description of the waste.</p>
    
    <p>To restrict the type of waste you accept, add a note after the description.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Examples of restrictions
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Add text after the description to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>restrict the quantity of the waste, for example: </br>16 06 01* lead batteries - no more than 500 tonnes</li>

          <li>limit a particular waste within a code, for example: </br>16 01 03 - bicycle tyres only</li>

          <li>exclude a hazardous property, for example: </br>no corrosive waste</li>

          <li>restrict a physical form, for example: </br>06 03 11* solid salts and solutions containing cyanides - no liquids</li>

          <li>limit an attribute of the waste, for example: </br>no odorous wastes</li>

          <li>restrict specific substances or concentrations, for example: </br>no chromium (VII) substances (greater than 1000 ppm)</li>
 
          <li>describe container type or size limits, for example: </br>no Intermediate Bulk Containers (IBCs)</li>
        
        </ul>
      </div>
    </details>  
    {% endif %}        

    <form action="{{formAction}}" method="POST" {%if provideVersion != 'text-area' %} enctype="multipart/form-data" {% endif %}> 
      {% if provideVersion == 'text-area' %}
      <div class="govuk-form-group">
        <textarea class="govuk-textarea" name="inputEwcCodes" type="text" id="input-ewc-codes" rows="5"></textarea>
      </div>
      {% else %}
      <div class="govuk-form-group">                         
        <p class="upload_head">Upload a file</p>
        <p class="text govuk-hint">
          CSV files<br>
          30MB maximum per file
        </p>
        {% if error === 'wrong-filetype' %}
        <div class="govuk-form-group govuk-form-group--error">
          <span id="upload-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The file type must be CSV
          </span>
          <input id="upload" type="file" name="ewcCodeFile" aria-labelelledby="upload-label">
          <input id="filename" name="{{currentFileName}}" type="hidden">
        </div>
        {% elif error === 'no-codes' %}
        <div class="govuk-form-group govuk-form-group--error">
          <span id="upload-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The first column of your file did not contain any valid EWC codes
          </span>
          <input id="upload" type="file" name="ewcCodeFile" aria-labelelledby="upload-label">
          <input id="filename" name="{{currentFileName}}" type="hidden">
        </div>
        {% else %}
        <div class="form-group form-uploader">
          <input id="upload" type="file" name="ewcCodeFile" aria-labelelledby="upload-label">
          <input id="filename" name="{{currentFileName}}" type="hidden">
        </div>
        {% endif %}
      </div>
      {% endif %}

      </br>
      {{submitButton|safe}}
    </form>
  </div>
</div>

{% endblock %}
