{% extends "layout.html" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      EWC code summary for physical treatment of hazardous waste
    </legend>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">EWC code</th>
          <th scope="col" class="govuk-table__header">EWC description</th>
                 
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       
        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">15 01 10**</textarea></td>
          <td class="govuk-table__cell">Packaging containing residues of or contaminated by dangerous substances</td>
        </tr>
       
        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">15 02 02*</textarea></td>
          <td class="govuk-table__cell">Absorbents, filter materials (including oil filters not otherwise specified), wiping cloths, protective clothing contaminated by dangerous substances</td>
        </tr>
       
        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 03 03*</textarea></td>
          <td class="govuk-table__cell">Inorganic wastes containing dangerous substances</td>
        </tr>
       
        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 03 05*</textarea></td>
          <td class="govuk-table__cell">Organic wastes containing dangerous substances</td>
        </tr>
      </tbody>
    </table>
    
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">EWC code</th>
          <th scope="col" class="govuk-table__header">EWC description</th>              
        </tr>
        <br/>
        <br/>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          EWC code summary for metal recycling site - vehicle dismantling
        </legend>
      </thead>
        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 01 04*</textarea></td>
          <td class="govuk-table__cell">end-of-life vehicles</td>
        </tr>

        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 01 06</textarea></td>
          <td class="govuk-table__cell">end-of-life vehicles, containing neither liquids nor other hazardous components</td>
        </tr>

        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 01 07*</textarea></td>
          <td class="govuk-table__cell">oil filters</td>
        </tr>

        <tr class="govuk-table__row" style="vertical-align: top">
          <td class="govuk-table__cell">16 01 17</textarea></td>
          <td class="govuk-table__cell">ferrous metal</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

      <br/>

      <form action="check-answers" method="post">
        {{ govukButton({
          text: "Return to check your check your answers"
        }) }}

      </div>
    </form>
  </div>
</div>

{% endblock %}
