{% extends "layout.html" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<form action="{{formAction}}" method="POST">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{title}}
      </legend>

      {% if provideVersion === 'upload-no-template' %}
      <p>These are the EWC codes and descriptions you've uploaded.</p>
      {% endif %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">EWC code</th>
            <th scope="col" class="govuk-table__header">EWC description</th>
            {% if provideVersion === 'text-area' and not editMode and not errors %}
            <th scope="col" class="govuk-table__header"><a href="text-area/edit">Edit</a></th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for ewcCode in ewcCodes %}
          {% if ewcCode.codeErrors.length > 0 or ewcCode.descriptionErrors.length > 0 %}
          <tr class="govuk-table__row " style="vertical-align: top">
            <td class="govuk-table__cell table-no-border" colspan="2">
            {% for error in ewcCode.codeErrors %}
            <span class="govuk-error-message">{{ error }}</span>
            {% endfor %}
            {% for error in ewcCode.descriptionErrors %}
            <span class="govuk-error-message">{{ error }}</span>
            {% endfor %}
            </td>
          </tr>
          {% endif %}
          <tr class="govuk-table__row" style="vertical-align: top">            
            {% if ewcCode.codeErrors.length > 0 %}
            <td class="govuk-table__cell" style="padding-top: 0"><input type="text" class="govuk-input {% if ewcCode.codeErrors.length > 0 %}govuk-input--error{% endif %}" value="{{ ewcCode.code }}" name="ewcCode{{loop.index0}}"></textarea></td>
            {% else %}
            <td class="govuk-table__cell">{{ ewcCode.code }}</td>
            {% endif %}

            {% if editMode or ewcCode.descriptionErrors.length > 0 %}
            <td class="govuk-table__cell" style="padding-top: 0"><textarea class="govuk-textarea {% if ewcCode.descriptionErrors.length > 0 %}govuk-textarea--error{% endif %}" rows="2" name="ewcDescription{{loop.index0}}">{{ ewcCode.description }}</textarea></td>
            {% else %}
            <td class="govuk-table__cell">{{ ewcCode.description }}</td>
            {% endif %}

            {% if provideVersion === 'text-area' and not editMode %}
            <td class="govuk-table__cell"></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="{{returnLink}}" class="govuk-button govuk-button--secondary">Upload or enter this list again</a>
      <br/>
      {% if editMode or errors == true %}
        {{submitButton|safe}}
      {% else %}
        <a href="{{continueLink}}" class="govuk-button">Confirm</a>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}
