{% extends "layout.html" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<form action="{{formAction}}" method="POST">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{title}}
      </legend>
      {% if provideVersion === 'text-area' %}
      {% if editMode %}
      <p>If a waste code ends in 99, you must write a full description of the waste.</p>
      <p>To restrict the type of waste you accept, add a note after the description.</p>

      <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Examples of restrictions
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Add text after the description to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>restrict the quantity of the waste, for example: </br>16 06 01* lead batteries - no more than 500 tonnes</li>
    
              <li>limit a particular waste within a code, for example: </br>16 01 03 - bicycle tyres only</li>
    
              <li>exclude a hazardous property, for example: </br>no corrosive waste</li>
    
              <li>restrict a physical form, for example: </br>06 03 11* solid salts and solutions containing cyanides - no liquids</li>
    
              <li>limit an attribute of the waste, for example: </br>no odorous wastes</li>
    
              <li>restrict specific substances or concentrations, for example: </br>no chromium (VII) substances (greater than 1000 ppm)</li>
     
              <li>describe container type or size limits, for example: </br>no Intermediate Bulk Containers (IBCs)</li>
            
            </ul>
          </div>
        </details>  
    
      {% endif %}    
      {% if errors == true %}
      <p style="font-weight: bold">You can edit descriptions on the next page.</p>
      <p>Activity: < Activity 1 ></p>
      {% endif %}  
      {% endif %}
      {% if provideVersion === 'upload-no-template' %}
      <p>These are the waste codes and descriptions you've uploaded.</p>
      {% endif %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Code</th>
            <th scope="col" class="govuk-table__header">EWC description</th>
            {% if provideVersion === 'text-area' and not editMode and not errors %}
            <th scope="col" class="govuk-table__header"><a href="text-area/edit">Edit descriptions</a></th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for ewcCode in ewcCodes %}
          {% if ewcCode.codeErrors.length > 0 or ewcCode.descriptionErrors.length > 0 %}
          <tr class="govuk-table__row " style="vertical-align: top">
            <td class="govuk-table__cell table-no-border" colspan="2">
            {% for error in ewcCode.codeErrors %}
            <span class="govuk-error-message">{{ error }}</span>
            {% endfor %}
            {% for error in ewcCode.descriptionErrors %}
            <span class="govuk-error-message">{{ error }}</span>
            {% endfor %}
            </td>
          </tr>
          {% endif %}
          <tr class="govuk-table__row" style="vertical-align: top">            
            {% if ewcCode.codeErrors.length > 0 %}
            <td class="govuk-table__cell" style="padding-top: 0"><input type="text" class="govuk-input {% if ewcCode.codeErrors.length > 0 %}govuk-input--error{% endif %}" value="{{ ewcCode.code }}" name="ewcCode{{loop.index0}}"></textarea></td>
            {% else %}
            <td class="govuk-table__cell">{{ ewcCode.code }}</td>
            {% endif %}

            {% if editMode or ewcCode.descriptionErrors.length > 0 %}
            <td class="govuk-table__cell" style="padding-top: 0"><textarea class="govuk-textarea {% if ewcCode.descriptionErrors.length > 0 %}govuk-textarea--error{% endif %}" rows="2" name="ewcDescription{{loop.index0}}">{{ ewcCode.description }}</textarea></td>
            {% else %}
            <td class="govuk-table__cell">{{ ewcCode.description }}</td>
            {% endif %}

            {% if provideVersion === 'text-area' and not editMode %}
            <td class="govuk-table__cell"></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if provideVersion === 'text-area' %}
        <a href="{{returnLink}}" class="govuk-button govuk-button--secondary">Enter the list again</a>
        {% else %}
        <a href="{{returnLink}}" class="govuk-button govuk-button--secondary">Upload the list again</a>
        {% endif %}
      <br/>
      {% if editMode or errors == true %}
        {{ govukButton({
          text: "Save changes"
        }) }}
      {% else %}
        <a href="{{continueLink}}" class="govuk-button">Confirm</a>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}
