{% extends "layout.html" %}

{% set title = "Select the EWC test you'd like to run" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

  

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{title}}
      </legend>

      <a href="activity-provide/1/no-edit">Test 1</a>
      <br/>
      <a href="activity-provide/1/mini-edit">Test 2</a>
      <br/>
      <a href="activity-provide/1/mega-edit">Test 3</a>
  </div>
</div>

{% endblock %}
