{% extends "layout.html" %}

{% set title = "Do you accept any of these types of waste?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
             <!-- substanceRelease entered -->
             <input type="hidden" name="substanceRelease" value="Yes">

        
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{title}}
      </legend>  
        <p>Read the guidance on GOV.UK to ensure you select the correct types of waste:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/clinical-waste-additional-guidance">Clinical waste (opens new tab)</a></br></li>
            <li><a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits#types-of-combustible-waste">Combustible waste (opens new tab)</a></li>
            <li><a class="govuk-link" target="_blank" href="https://www.gov.uk/dispose-hazardous-waste">Hazardous waste (opens new tab)</a></li>
        </ul>
        <p>Select all types your operation accepts:</p>
  
        <div class="govuk-checkboxes" data-module="checkboxes">

          <div class="govuk-checkboxes__item" data-target="clinical">
            <input class="govuk-checkboxes__input" id="clinical" name="clinical" type="checkbox" value="yes">
            <label class="govuk-label govuk-checkboxes__label" for="clinical">
                Clinical waste
            </label>
          </div>
          <div class="govuk-checkboxes__item" data-target="combustible">
            <input class="govuk-checkboxes__input" id="combustible" name="combustible" type="checkbox" value="yes">
            <label class="govuk-label govuk-checkboxes__label" for="combustible">
                Combustible waste
            </label>
          </div>
          <div class="govuk-checkboxes__item" data-target="hazardous">
            <input class="govuk-checkboxes__input" id="hazardous" name="hazardous" type="checkbox" value="yes">
            <label class="govuk-label govuk-checkboxes__label" for="hazardous">
                Hazardous waste
            </label>
          </div>
          <div class="govuk-checkboxes__item" data-target="noneofabove">
              <input class="govuk-checkboxes__input" id="noneofabove" name="noneofabove" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="noneofabove">
                  None of the above
              </label>
            </div>
        </div>
      </fieldset>
    </div>


        
    <form action="/{{folder}}/bespoke/assessments/your-assessments" method="post">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

    </div>
  </div>


{% endblock %}
