// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// email temple
@import "prototype";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.blue-box{
    background: #005ea5;
    padding:1em;
    margin-bottom:45px;
    font-size: 16px;
    line-height: 1.25;
    color:#FFFFFF;
  
      p,a{color:#FFFFFF;}
      span{font-weight:normal;}
  
  
  }

  .grey-box{
    background: #dee0e2;
    padding:1em;
    margin-bottom:45px;
    font-size: 19px;

  }

  .email-banner {
    background: #0b0c0c;
  }

  .totalCost{font-weight:bold;}

  #completeLink{
    display:inline-block;
    font-size: 18px; 
    padding:9px 0 0 1em;
  }


#upload{
  padding:1em 0;
  margin:1em 0 2em 0;
  border-top:1px solid #bfc1c3;
  border-bottom:1px solid #bfc1c3;
  font-size:16px;
}

.form-uploader #upload{
  border:none;
  padding:0;
  margin:0;
  font-weight:bold;
}

.form-uploader{
  border:2px solid #000;
  padding:1em;
}

#uploadForm input[type="file"]::-webkit-file-upload-button{
    font-size:18px;
    padding:0.5rem 1rem;
    background:#dee0e2;
    color:#000
}
#uploadForm input[type=file]:hover,#uploadForm input[type=file]::-webkit-file-upload-button:hover{
    cursor:pointer
}

.form-hint-upload{
  margin-bottom:0;
}

.upload_head{
  font-weight:bold;
  margin-bottom:0;
}