{% extends "layout.html" %}

{% set title = "Download and complete the plant or generator list template" %}


{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

  

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              {{title}}
          </legend>

<p>Download a template and save it on your computer. Enter the details for each plant or generator you want the permit to cover. You will be asked to upload it later in the application.</p>

<p><a href="#">Change activities or assessments</a></p>

<p><a href="#">Plant or generator list template APPENDIX (Excel XLS)</a>
    
    </br>
    <a href="#">Plant or generator list template APPENDIX (Open Document ODS)</a>

</p>
<form method="post" action="{{formAction}}">

    <div class="form-group">
        {{ govukButton({
          text: "Confirm and continue",
          name: "Confirm and pay"
        }) }}
    </div>


</form>



    </div>
  </div>

{% endblock %}
