{% extends "layout.html" %}

{% set title = "Make sure this is right" %}


{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{formAction}}" method="post">

        <!-- Change save progress so we do not show the save screens again -->
        <input type="hidden" name="saveProgress" value="save-link-sent">

        <h1 class="govuk-heading-l">{{title}}</h1>

        {% if permit.saveReturnPhone %}

          <div class="form-group">
            <label for="send_mob_here" class="visuallyhidden">The mobile number you entered</label>
            <input class="form-control form-control-3-4" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
          </div>

          <p>If your mobile phone number is wrong, just change it.</p>

          <div class="form-group">
            <button type="submit" class="button" name="Yes - this is my mobile phone number">Yes - this is my mobile phone number</button>
          </div>

        {% else %}

        <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
                <label for="send_email_here" class="govuk-visually-hidden">The email you entered</label>
            <input class="govuk-input govuk-input--width-20" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
          </div>

        </fieldset>

          <p>If your email address is wrong, just change it.</p>

          <div class="form-group">

              {{ govukButton({
                text: "Yes - this is my email"
              }) }}
  
            </div>

        {% endif %}

      </form>

    </div>
  </div>

</main>
{% endblock %}
