{% extends "layout.html" %}
{% set version = folder %}

{% set title = "Task list: apply for a standard rules environmental permit" %}

{% set IndividualChecked = '' %}
{% if permit.operatorType=='Individual' %}
    {% set HrefLink = '/operator/individual/individual-details' %}
{% endif %}

{% set SoleTraderChecked = '' %}
{% if permit.operatorType=='Sole trader' %}
    {% set HrefLink = '/operator/sole-trader/sole-trader' %}
{% endif %}

{% set LimitedCompanyChecked = '' %}
{% if permit.operatorType=='Limited company' %}
    {% set HrefLink = '/operator/company/company-name' %}
{% endif %}

{% set LimitedLiabilityPartnershipChecked = '' %}
{% if permit.operatorType=='Limited liability partnership' %}
    {% set HrefLink = '/operator/ll-partnership/limited-liability-partnership' %}
{% endif %}

{% set PartnershipChecked = '' %}
{% if permit.operatorType=='Partnership' %}
    {% set HrefLink = '/operator/partnerships/partner1' %}
{% endif %}

mcp and sg
{% set facilityType = 'mcp and sg' %}
{% if permit.facilityType=="mcp and sg" %}
    {% set appType = 'mcp and sg' %}
{% endif %}

set mobile sg
{% set generatorType = 'mobile sg' %}
{% if permit.generatorType=="mobile sg" %}
    {% set appType = 'mobile sg' %}
{% endif %}

set smcp
{% set generatorType = 'smcp' %}
{% if permit.generatorType=="smcp" %}
    {% set appType = 'smcp' %}
{% endif %}

set ssg
{% set generatorType = 'ssg' %}
{% if permit.generatorType=="ssg" %}
    {% set appType = 'ssg' %}
{% endif %}

set smcp also sg
{% set generatorType = 'smcp also sg' %}
{% if permit.generatorType=="smcp also sg" %}
    {% set appType = 'smcp also sg' %}
{% endif %}

set mobile mcp
{% set generatorType = 'mobile mcp' %}
{% if permit.generatorType=="mobile mcp" %}
    {% set appType = 'mobile mcp' %}
{% endif %}

{% set appType = 'standard' %}
{% if permit.bespokePermit=="bespoke" %}
    {% set appType = 'bespoke' %}
{% endif %}

{% set facilityType = permit.facilityType %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}


{% import folder+"/custom_inc/macros.html" as macros %}
{% from folder+"/custom_inc/permit-list-json.html" import permits %}
{% from folder+"/bespoke/activities-assessments/json/bespoke-assessment-list.html" import assessments %}
{% from folder+"/bespoke/activities-assessments/json/bespoke_activities.html" import activities %}

    {% block beforeContent %}

  {% include "includes/phase_banner_beta.html" %}
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       
      <form method="post" action="/{{folder}}/check/check-answers" name="tasklist">
        {% if appType=="bespoke"
          and facilityType=="Waste treatment" %}
        <p><a href="/{{folder}}/dummy">Populate session with dummy data</a></p>
        {% endif %}

       
        {# permit|dump #}
        {% if taskListError %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">You need to complete these tasks</h2>

          <ul class="error-summary-list">
            {% for missingItem in permit.complete %}
            <li><a href="#{{ missingItem  | lower | replace(' ', '-') | replace('\'', '') | safe }}">{{ missingItem }}</a></li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}



        <h1 class="govuk-heading-l">
          <span class="visually-hidden">Task list:</span>
          {% if appType=="bespoke" %}
              Apply for a bespoke environmental permit
          {% else %}
              Apply for a standard rules environmental permit 
          {% endif %}
        </h1>
        


        {% if appType=="bespoke"
        and facilityType=="Waste treatment" %}
        <!-- Output chosen activities ############################################ -->
      <p> {% for ref in permit.chosenPermitID %}
            {% for aNumber, aData in activities %}
                  {% if aNumber==ref %}

                  <!-- Output as a paragraph ============================== -->
                        {{ aData.D_Activity_Title }}<!-- ({{ ref }})--><br>
                      
                  {% endif %}
            {% else %}
            <p>No activities</p>
            {% endfor %}
        
    {% else %}
      {% if facilityType !== 'mcp and sg' %}
        <p>You must select at least one activity</p>
      {% endif %}
    {% endfor %}

    <!-- Output chosen assessments ############################################ -->
    {{ "Ammonia modelling assessment<br>" | safe
          if permit.ammoniaModelling=="yes" }}

    {{ "Dust and bio-aerosol management plan assessment<br>" | safe 
          if permit.dustPlan=="yes" }}

    {{ "Emissions management plan assessment<br>" | safe
          if permit.emissionsPlan=="yes" }}

    {{ "Fire prevention plan assessment<br>" | safe 
          if firePreventionPlan=="yes" 
          or permit.firePreventionPlan=="yes" }}

    {{ "Habitats assessment<br>" | safe 
          if permit.habitatsAssessment=="yes" }}

    {{ "Noise and vibration management plan assessment<br>" | safe  
          if permit.noisePlan=="yes" }}

    {{ "Odour management plan assessment<br>" | safe 
          if permit.odourManagementPlan=="yes" 
          or permit.odourManagementPlanIncluded=="yes" }}

    {{ "Pests management plan assessment<br>" | safe
          if permit.pestsPlan=="yes" }}

    {{ "Waste recovery plan assessment<br>" | safe
          if permit.wasteRecoveryPlan=="yes" }}

    <!-- Output cost ############################################ -->
    <span value="totalCost">Total cost {{ permit.totalcost | int | formatnumber }}</span>

    <!-- Link to change permit activities ##################################### -->
    </br>
    {% if facilityType !== "mcp and sg" %}
      <a href="/{{folder}}/bespoke/activities-assessments/bespoke-choose-activity">
        Change activities or assessments
      </a>
    {% endif %}
  </p>
{% endif %}

{% if appType=="bespoke"
and facilityType=="mcp and sg" %}
<p>
    {% if permit.dispersionModelling=="yes" %}
    1.10.2 Medium combustion plant site – requires dispersion modelling
    {% endif %}

    {% if permit.dispersionModelling=="no" or permit.generatorType=="mobile sg" or permit.generatorType=="mobile mcp" or permit.generatorType=="smcp also sg" and permit.hours=="yes" %}
    1.10.3 Medium combustion plant site – does not require dispersion modelling
    {% endif %}
</br>
{% if permit.generatorType=="smcp" %}
Stationary medium combustion plant (MCP)
{% endif %}

{% if permit.generatorType=="ssg" %}
Stationary specified generator (SG)
{% endif %}

{% if permit.generatorType=="smcp also sg" %}
Stationary MCP which is also an SG
{% endif %}

{% if permit.generatorType=="mobile sg" %}
Mobile SG
{% endif %}

{% if permit.generatorType=="mobile mcp" %}
Mobile MCP
{% endif %}
    <!-- Output cost ############################################ -->
  
</br>
    <span value="totalCost">Total cost {{ permit.totalcost | int | formatnumber }}</span>



    <!-- Link to change permit activities ##################################### -->
    </br>
      <a href="/{{folder}}/operator/site-operator">
Select a different permit      </a>
</p>
      {% endif %}

{% if appType=="standard" %}
    <p class="font-medium text">{{permit.permitName}} - {{permit.permitCode}}<br><a class="font-small" href="/{{folder}}/selectpermit/permit-category2">Select a different permit</a></p>
{% endif %}

{% if appType=="bespoke" 
and facilityType=="Waste treatment"%}
{% include folder+"/custom_inc/task-list-bespoke.html" %}
{% endif %}

{% if appType=="standard" %}
{% include folder+"/custom_inc/task-list-standard.html" %}
{% endif %}

{% if appType=="bespoke" 
and facilityType=="mcp and sg" and permit.generatorType=="smcp" or permit.generatorType=="ssg" or permit.generatorType=="smcp also sg" and permit.hours=="no" or permit.generatorType=="mobile mcp" and permit.energyEffiencyReport=="yes" %}
{% include folder+"/custom_inc/task-list-mcp-bespoke.html" %}
{% endif %}

{% if appType=="bespoke" 
and facilityType=="mcp and sg" and permit.generatorType=="mobile sg" %}
{% include folder+"/custom_inc/task-list-mcp-bespoke-mobile.html" %}
{% endif %}

{% if appType=="bespoke" 
and facilityType=="mcp and sg" and permit.generatorType=="mobile mcp" and permit.energyEffiencyReport=="no" or permit.generatorType=="smcp also sg" and permit.hours=="yes" %}
{% include folder+"/custom_inc/task-list-mcp-bespoke-mobile.html" %}
{% endif %}

<!-- Only show if 'Tasklist Save' route -->
{% if permit.saveReturnEmail!==null  %}
{% endif %}


</form>
</div>

</div>

{% endblock %}

{% block page_scripts %}
<script>
  $(document).ready(function () {

    $.ajax({
      url: '/{{folder}}/task-list-visit',
      success: function(){
             //alert('reply')
           },
           error: function(){
              //alert('timeout/error')
            }
          })

  })
</script>
{% endblock %}