
{% extends "layout.html" %}

{% set title = "What type of permit do you want?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% set versionxxx = "v24" %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <form action="/{{folder}}/bespoke/activities-assessments/bespoke-type" method="post">

      
      {# permit|dump #}


        
        {% set bespokeChecked="" %}
        {% if permit.permitSelected=="bespoke" %}
          {% set bespokeChecked=" checked" %}
        {% endif %}


        <div class="form-group">
          


            {{ govukRadios({
              idPrefix: "bespoke-or-standard",
              name: "bespokePermit",
      fieldset: {
        legend: {
          text: "What type of permit do you want?",
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "standard",
          text: "Standard rules"
        },
        {
          value: "bespoke",
          text: "Bespoke"
        }
    
      ]
    }) }}
      
        </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I don't know
              </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">If you’re not sure which type of permit to choose, you can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/check-if-you-need-an-environmental-permit">read about environmental permits on GOV.UK (opens new tab)</a></li>
                      <li><a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency (opens new tab)</a></li>
                    </ul>
            </div>
          </details>




      <div class="form-group">
          {{ govukButton({
            text: "Confirm"
          }) }}      </div>

    </form>

    </div>
  </div>


{% endblock %}
