
{% extends "layout.html" %}

{% set title = "Is any plant or generator in an Air Quality Management Area?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <form action="/{{folder}}/check/task-list" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">{{title}}</legend>


<p>Is any plant or generator in an Air Quality Management Area (AQMA) or if mobile, do you want the option of deploying to an AQMA?</p>
        
        {% set bespokeChecked="" %}
        {% if permit.permitSelected=="bespoke" %}
          {% set bespokeChecked=" checked" %}
        {% endif %}

        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  How to check if the site is in an AQMA
              </span>
            </summary>
            <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                    <li>Go to the <a href="#">AQMAs interactive map on the Defra UK AIR website (opens new tab)</a>.</li>
                    <li>Select the ‘AQMA Boundaries’ option to display the AQMAs.</li>
                    <li>Search for a postcode or find the area on the map and zoom in to check if you are in an AQMA.</li>
                    <li>Select the AQMA on the map to read the AQMA name.</li>
                  </ol>

                  




                                      </div>
          </details>
    
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-1" name="aqma" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                    Yes
                                    </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address-postcode">
                          What is the name of the AQMA?
                          
                                                </label>
  
                      <input class="govuk-input govuk-input--width-20" id="address-postcode" name="aqmaname" value="{{permit.aqmaname}}" type="text"> 

                    </div>     
    
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                            What is the name of the local authority where the site is located?
                            
                                                  </label>
    
                        <input class="govuk-input govuk-input--width-20" id="address-postcode" name="aqmala" value="{{permit.aqmala}}" type="text">
  
                      </div>    
                  




                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address-postcode">
                          What is the background level of nitrogen dioxide?
                          
                                                </label>
  
                      <span id="nace-code" class="govuk-hint">
                          Enter the annual mean in microgrammes per cubic metre (µg/m3)
                        </span>
                      <input class="govuk-input govuk-input--width-5" id="address-postcode" name="nitrogendioxide" value="{{permit.nitrogendioxide}}" type="text"> <span style="margin-left:1em;font-family: Arial; font-size: 18px;">µg/m3</span>

                    </div>
               </br>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                              Find out the background level of nitrogen dioxide
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ol class="govuk-list govuk-list--number">
                                <li>Go to the <a href="#">annual and exceedence statistics on the Defra UK AIR website (opens new tab)</a>.This will already be filtered for nitrogen dioxide.</li>
                                <li>Select the local authority for the site from the Sub Zone list.</li>
                                <li>Select ‘Annual Mean’ from the statistic list.</li>
                              </ol>
                        </div>
                      </details>
               
                </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                </label>
              </div>
             
        
              </div>

            </div>
          </fieldset>
        </div>
     
      </div>

      <div class="form-group">
          {{ govukButton({
            text: "Confirm"
          }) }}      </div>

  

    </div>
  </div>


{% endblock %}