{% extends "layout.html" %}

{% set title = "Enter the site address" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            {{title}}
        </legend>


<form method="post" action="{{formAction}}">


  <div class="form-group">
    <label class="govuk-label" for="premises">Building name or number
      <span class="govuk-hint">For example, a business premises name or house number</span>
    </label>
    <input style="margin-bottom:20px;" type="text" class="govuk-input govuk-!-width-one-half" id="premises" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="street_address">Address line 1</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="street_address" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="locality">Address line 2 (optional)</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="locality" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="town">Town or city</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="town" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">UK postcode (optional)
    </label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="postcode" name="sitePostCode" value="" />
  </div>



  <div class="form-group">
      {{submitButton|safe}}{{completeLink|safe}}
  </div>

</form>


    </div>
  </div>

</main>

{% endblock %}
