{% set facilities = 
  [
    {
    "text": "Stationary medium combustion plant (MCP)",
    "hint": "",
    "value": "smcp"
    },
    {
    "text": "Stationary specified generator (SG)",
    "hint": "",
    "value": "ssg"
    },
    {
      "text": "Stationary MCP which is also an SG",
      "hint": "",
      "value": "smcp also sg"
    },
    {
      "text": "Medium combustion plant or specified generator",
      "hint": "",
      "value": "mcp and sg"
    },
    {
    "text": "Mining waste operation",
    "hint": "",
    "value": "mining"
    },	
    {
    "text": "Mobile SG",
    "hint": "",
    "value": "mobile sg"
    },
    {
    "text": "Mobile SG which is also an MCP",
    "hint": "",
    "value": "mobile sg also mcp"
    }
  ]
 -%}