<!-- TASK LIST ############################################################ -->
<!-- STARTS HERE ########################################################## -->

<ol class="app-task-list">
  
    <li><!-- START TASK SECTION ##################################### -->
      {{ macros.taskHead("1", "Register" )}}
      <ul class="app-task-list__items">
  
    <!--Save and return--------------->
    {{ macros.task( "Register to return to this application", permit.saveReturnEmail, "/"+folder+"/save-and-return/email-or-phone", taskListError ) }}
  
            </ul>
    </li><!-- END TASK SECTION -->
  
  
    <li><!-- START TASK SECTION ##################################### -->
    {{ macros.taskHead("2", "About the application" )}}
    <ul class="app-task-list__items">
  
    <!--Contact details--------------->
    {{ macros.task( "Give contact details", permit.contactFirstName, "/"+folder+"/contact/contact-details", taskListError ) }}
  
    <!--Permit holder--------------->
    {{ macros.task( "Give permit holder details", permit.bankruptcyInsolvencyDetails, "/"+folder+HrefLink, taskListError ) }}
  
    <!-- Confidentiality  ----------->
    {{ macros.task( "Confirm confidentiality needs", permit.confidential, "/"+folder+"/check/claim-confidentiality", taskListError ) }}
  
    <!-- Invoicing ---------------->
    {{ macros.task( "Give invoicing details", permit.invoiceAddress, "/"+folder+"/billing/invoice-postcode", taskListError ) }}
  
  
  </ul>
  </li><!-- END TASK SECTION -->
  <li><!-- START TASK SECTION ##################################### -->
      {{ macros.taskHead("3", "Operations" )}}
      <ul class="app-task-list__items">


      <!-- AQMA -->
      {{ macros.task( "Give Air Quality Management Area details", permit.aqma, "/"+folder+"/bespoke/activities-assessments/aqma", taskListError ) }}


      <!-- Provide a non-technical summary ---------------->
  <!-- UPLOAD - NOTE FOR UPLOADS THE PERMIT.<FILENAME> ENDS IN A 1, IN REFERENCE TO THE SECOND UPLOAD ##################################### -->
      {{ macros.task( "Provide a non-technical summary", permit.NonTechSummary1, "/"+folder+"/upload-non-technical-summary", taskListError ) }}


  
      </ul>
      </li><!-- END TASK SECTION -->
  
  <li><!-- START TASK SECTION ##################################### -->
    {{ macros.taskHead("4", "Activities" )}}
    <ul class="app-task-list__items">
  
  <!-- Download and complete generator template -->
  {{ macros.task( "Download and complete the plant or generator list template", permit.Confirmandpay, "/"+folder+"/bespoke/generator/download-template", taskListError ) }}

   <!-- Upload the plant or generator list -->
   {{ macros.task( "Upload the plant or generator list template", permit.GenTemplate1, "/"+folder+"/generator-list-template", taskListError ) }}

   <!-- NACE code, Choose business or activity type -->
   {{ macros.task( "Choose business or activity type", permit.nacecodes, "/"+folder+"/check/nace-code", taskListError ) }}

  </ul>
  </li><!-- END TASK SECTION -->
    
  
  <li><!-- START TASK SECTION ##################################### -->
    {{ macros.taskHead("5", "Apply" )}}
    <ul class="app-task-list__items">
      
      <li class="app-task-list__item" id="submit-pay">
        <a onclick="document.tasklist.submit(); return false;" class="task-name" href="#">
          Send application and pay
        </a>
      </li>
      
    </ul>
  </li><!-- END TASK SECTION -->
  
  </ol>
