
{% extends "layout.html" %}

{% set title = "What type of permit do you want?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% set versionxxx = "v24" %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <form action="/{{folder}}/operator/site-operator" method="post">

      
      {# permit|dump #}


        
        {% set bespokeChecked="" %}
        {% if permit.permitSelected=="bespoke" %}
          {% set bespokeChecked=" checked" %}
        {% endif %}


        <div class="form-group">
          


            {{ govukRadios({
              idPrefix: "bespoke-or-standard",
              name: "bespokePermit",
      fieldset: {
        legend: {
          text: "What type of permit do you want?",
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "standard",
          text: "Standard rules"
        },
        {
          value: "bespoke",
          text: "Bespoke"
        }
    
      ]
    }) }}
    


        
          
        </div>


      <div class="form-group">
          {{ govukButton({
            text: "Confirm"
          }) }}      </div>

    </form>

    </div>
  </div>


{% endblock %}
