
{% extends "layout.html" %}

{% set title = "Are you burning waste biomass?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <form action="/{{folder}}/bespoke/activities-assessments/habitat-assessment" method="post">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">{{title}}</legend>

      {{ permit|dump }}


<p>Does your MCP burn waste biomass at a rate between 225kg per hour and 3 tonnes per hour?</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Waste biomass definition
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Waste biomass means:</p>     
            <ul class="govuk-list govuk-list--bullet">

                  <li>vegetable waste from agriculture and forestry</li>
                  <li>vegetable waste from the food processing industry, if the heat generated is recovered</li>
                  <li>fibrous vegetable waste from virgin pulp production and from production of paper from pulp if it is co-incinerated where it was produced and the heat generated is recovered</li>
                  <li>cork waste</li>
                  <li>wood waste with some exceptions</li>
            </ul>
            <p>Wood waste is not biomass if it contains halogenated organic compounds or heavy metals from wood preservatives or coatings, in particular if it comes from from construction and demolition waste.</p>
          
          </div>
        </details>
    
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-1" name="biomas-burn-rate" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional-1">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                  Yes, it burns waste biomass at a rate between 225kg per hour and 3 tonnes per hour
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="biomas-burn-rate" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                
                <h1 class="govuk-heading-m">Does any individual plant burning biomass exceed 1MW thermal?</h1>
                {{ govukRadios({
                  idPrefix: "energy-source",
                  name: "exceed1mwth",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, at least one exceeds 1MW thermal"
            },
            {
              value: "no",
              text: "No"
            }
        
          ]
        }) }}
             
             
              </div>
        
              </div>

            </div>
          </fieldset>
        </div>
     
      </div>

      <div class="form-group">
          {{ govukButton({
            text: "Confirm"
          }) }}      </div>

  

    </div>
  </div>


{% endblock %}
