{% extends "layout.html" %}

{% set title = "Preparing your permit" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="{{formAction}}" id="autoSubmit">


      {# permit|dump #}

          <p>
            {{ title }}
          </p>


      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/custom_inc/permit-list-json.html" import permits %}


        {% for pNumber, pData in permits %}

          {% if pNumber==chosenPermitID %}

            {% include folder+"/custom_inc/permit-inputs.html" %}

          {% endif %}
        {% endfor %}


            <div class="form-group">
              {{ govukButton({
                text: "Continue"
              }) }}

            </div>

        </form>

        </div>
      </div>


    {% endblock %}
