{% extends "layout.html" %}

{% set title = "What are the permit holder’s contact details?" %}

{% extends "layout.html" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{{backlink|safe}}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    <form action="/{{folder}}/operator/sole-trader/postcode" method="post">

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  {{title}}
              </legend>

            <label class="govuk-label" for="contact-phone">Email address</label>
              <span class="govuk-hint">Used to send a copy of the permit and any official notices
              </span>
            <input class="govuk-input govuk-!-width-one-half" id="contact-phone" name="contact-phone" type="text">
          </div>
          <div class="form-group">
            <label class="govuk-label" for="contact-email">Telephone number</label>
              <span class="govuk-hint">This can be a landline or mobile
              </span>
            <input class="govuk-input govuk-!-width-one-half" id="contact-email" name="contact-email" type="text">
          </fieldset>

          </div>

        </br>
      </br>

      <div class="form-group">
        {{submitButton|safe}}{{completeLink|safe}}
      </div>

    </form>

  </div>
</div>


{% endblock %}
