{% set pageTitle="Medium combustion plant and specified generator regulations" %}

{% set pageSummary="Find out if you need an environmental permit, if you can meet permit requirements and how to follow the application process." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>

				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 3 May 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a></p>
						</div>


						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>



<div id="mcp-content" class="document-collection">


<p>These guides:</p>

<ul class="govuk-list govuk-list--bullet">
<li>define a medium combustion plant and a specified generator</li>
<li>set out the size of combustion plants that are covered by the regulations</li>
<li>state how the age of the combustion plant affects the deadline for when you must have your permit issued by</li>
</ul>

<p>They also explain:</p>

<ul class="govuk-list govuk-list--bullet">
<li>which combustion plant are excluded from the regulations</li>
<li>how to meet permit requirements</li>
<li>the types of permit available, how much they cost and how to apply for them</li>
</ul>



<h2 class="govuk-heading-m group-title"><a id="h1"></a>Check if you need a permit</h2>


<p>When your medium combustion plant and/or your specified generator is covered by the regulations.</p>



	<ol class="gem-c-document-list">
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide1">Medium combustion plant and specified generators: environmental permits</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T11:10:00+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide2">Medium combustion plant: when you need a permit</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T11:36:18+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide3">Specified generator: when you need a permit</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T14:58:02+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
</ol>


<h2 class="govuk-heading-m group-title"><a id="h2"></a>Check your combustion plant can meet permit conditions</h2>

<p>The controls your combustion plant must meet to improve air quality.</p>


	<ol class="gem-c-document-list">
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide4">Medium combustion plant (MCP): comply with emission limit values</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T15:26:27+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide5">Specified generator: comply with permit conditions</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-18T14:08:15+01:00">
							18 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
</ol>



<h2 class="govuk-heading-m group-title"><a id="h3"></a>Apply for a permit</h2>

<p>Select the right type of permit and submit the required information with your application.</p>


	<ol class="gem-c-document-list">
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide6">Medium combustion plant: apply for an environmental permit</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-18T16:39:12+01:00">
							18 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide7">Specified generator: apply for an environmental permit</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-24T12:18:51+01:00">
							24 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide8">Part B activities: combustion and incineration permits</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T12:17:33+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide9">Specified generators: dispersion modelling assessment</a>



		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-17T17:32:59+01:00">
							17 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
</ol>



<h2 class="govuk-heading-m group-title"><a id="h4"></a>Comply with your permit</h2>

<p>Meet the monitoring and reporting requirements and tell the regulator about any changes.</p>


	<ol class="gem-c-document-list">
<li class="gem-c-document-list__item ">
	<a class="gem-c-document-list__item-title" href="guide10">Medium combustion plant and specified generator permits: how to comply</a>

		<ul class="gem-c-document-list__item-metadata">
				<li class="gem-c-document-list__attribute">
						<time datetime="2019-04-12T11:50:53+01:00">
							12 April 2019
						</time>
				</li>
				<li class="gem-c-document-list__attribute">
						Guidance
				</li>
		</ul>
</li>
</ol>





</div><!-- END MCP_CONTENT -->





						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="collection">Medium combustion plant and specified generator regulations</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
