{% set pageTitle="Specified generator: apply for an environmental permit " %}

{% set pageSummary="The types of permit available, how much they cost and how to apply for your environmental permit." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a></p>
						</div>

						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>


<div id="mcp-content">


						<p>Specified generator permits are standalone permits. They only cover emissions of SO2, NOx and dust to air. There are no permit conditions for water, land, energy efficiency, odour or noise. Best available techniques (BAT) do not apply.</p>
						<p>There are 3 types of permits for specified generators, a:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>standard rules permit (SRP) – low risk</li>
						<li>simple bespoke permit – low risk</li>
						<li>complex bespoke permit – high risk</li>
						</ul>
						<p>Find information on what to do if your specified generator is already permitted, for example, if you have:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="#">an IED installations environmental permit</a></li>
						<li>a <a href="#">local authority Part B Section 1.1 or 5.1 activity permit</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Before_you_apply_11"></a>Before you apply</h2>
						<p>Check you have all the <a href="#">information you need</a>, including the deadlines you must meet. These specified generators must be permitted and comply with the permit conditions by:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>1 January 2019 – tranche B specified generators</li>
						<li>1 October 2019 – tranche A specified generators 5-50 MWth with emissions above 500mg/m3 which operate more than 50 hours per year</li>
						</ul>
						<p>Read the guidance <a href="guide3.html">‘specified generators: when you need a permit’</a> to check:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>if you need to apply for a specified generator permit</li>
						<li>the deadlines all specified generators must have a permit in place</li>
						</ul>
						<p>You can apply for a site permit if you’re operating:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>an individual specified generator</li>
						<li>2 or more generators for the same purpose.</li>
						</ul>
						<p>Read the guidance <a href="guide2.html">‘Aggregating generators and deadlines for a specified generator site’</a> to find out how to aggregate the generators and the date you must have a permit in place.<br>
						For all types of permit you need to apply in time for the regulator to determine your application. See <a href="https://www.gov.uk/government/publications/permits-for-schedule-25b-tranche-b-specified-generators-rps-219">RPS 219</a> for revised deadlines in England.</p>
						<p>If your application is for a site in Wales, you will need a permit from NRW. You can find application forms and details on the <a href="https://naturalresourceswales.gov.uk/permits-and-permissions/medium-combustion-plant-and-specified-generator-activities/?lang=en">NRW website</a>.</p>
						<h2 class="govuk-heading-m"><a id="SRPs_30"></a>SRPs</h2>
						<p>To apply for a SRP you must be able to meet the rules set out in the permit. If you cannot, you must apply for a bespoke permit.</p>
						<p>See the SRPs available for <a href="https://www.gov.uk/government/collections/standard-rules-environmental-permitting#medium-combustion-plant-and-specified-generators">low risk Tranche B specified generators</a>. Their suitability ranges from small base load combined heat and power systems to peaking abated diesel engines. You can only use them if your site only has tranche B SGs, not a mixture of As and Bs.</p>

						<p class="grey-box">
						<!-- <a href="/{{folder}}/start/start-or-resume">Apply for a standard rules permit for a specified generator</a> -->
						<a href="#">Apply for a standard rules permit for a specified generator</a>
						</p>

						<p>You must provide the following information when you submit your application.</p>

						<h3 class="govuk-heading-s"><a id="About_you_40"></a>About you</h3>
						<p>You must provide:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>information about the applicant</li>
						<li>the address of the registered office</li>
						</ul>
						<p>You must declare if you or any member of your organisation has:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>any conviction of a relevant offence</li>
						<li>current or past bankruptcy or insolvency proceedings against you</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="About_your_operation_49"></a>About your operation</h3>
						<p>You must select the SRP you’re applying for and provide the site or generator’s:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>location – site name, address and postcode</li>
						<li>the Nomenclature of Economic Activities (NACE) code for the activity</li>
						</ul>
						<p>You must also provide:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>generator name</li>
						<li>location – <a href="https://gridreferencefinder.com/">national grid reference</a> or latitude and longitude</li>
						<li>status – Tranche A or Tranche B</li>
						<li>rated thermal input (MWth)</li>
						<li>type of generator - such as diesel engine, GT, dual fuel engine, other engine or MCP</li>
						<li>type and portion of fuels used as set out in the fuel categories in <a href="#">Annex II MCPD</a></li>
						<li>stack height</li>
						<li>expected <a href="#">annual operating hours</a> and average load in use</li>
						<li>whether it’s in an AQMA or will be deployed to an AQMA</li>
						<li>the distance from places where people live or work (human receptors)</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Management_system_67"></a>Management system</h3>
						<p>You must declare the type of <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">management system</a> you have and that it meets the conditions in the SRP.</p>
						<h3 class="govuk-heading-s"><a id="ELV_compliance_verification_71"></a>ELV compliance verification</h3>
						<p>You must monitor each individual generator as specified in the permit conditions.</p>
						<p>As part of your application you must be able to demonstrate that you can meet ELVs using <a href="https://www.gov.uk/government/publications/m5-monitoring-of-stack-gas-emissions-from-medium-combustion-plants-and-specified-generators">M5 Monitoring of stack gas emissions from medium combustion plants and specified generators</a>.</p>
						<h3 class="govuk-heading-s"><a id="Help_and_advice_for_sites_in_England_76"></a>Help and advice for sites in England</h3>
						<p>If you cannot use the electronic form you can request a paper form from <a href="mailto:mcpdhelp@environment-agency.gov.uk">mcpdhelp@environment-agency.gov.uk</a>.</p>
						<p>You can ask for pre-application advice by:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>emailing <a href="mailto:mcpdhelp@environment-agency.gov.uk">mcpdhelp@environment-agency.gov.uk</a></li>
						<li>visiting your <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">local Environment Agency office</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Charges_83"></a>Charges</h2>
						<p>These are the charges for SG SRPs.<br>
						Specified generators SRPs SR2018 No 1, SR2018 No 2, SR2018 No 3, SR2018 No 4, SR2018 No 5, SR2018 No 6, and SR2018 No 9:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>application charge - £221</li>
						<li>transfer charge - £169</li>
						<li>surrender charge - £125</li>
						<li>annual subsistence charge - £246</li>
						</ul>
						<p>SR2018 No 8 mobile plant generator:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>application charge - £221</li>
						<li>transfer charge - £169</li>
						<li>surrender charge - £125</li>
						<li>annual subsistence charge - £273</li>
						<li>deployment – no charge</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Bespoke_permits_98"></a>Bespoke permits</h2>
						<p>You must apply for a bespoke permit if you cannot meet the conditions in a SRP.</p>
						<p>To find out if you can apply for a simple bespoke permit you’ll need to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>follow the <a href="https://www.gov.uk/guidance/air-emissions-risk-assessment-for-your-environmental-permit">air emissions risk assessment guidance</a></li>
						<li>use the <a href="#">Environment Agency Tranche B specified generator screening tool</a></li>
						</ul>
						<p>If the emissions screen out as ‘insignificant’ you can apply for a low risk bespoke permit. You’ll need to provide a completed copy of the <a href="#">screening tool</a> with your application to demonstrate you’ve applied for the correct permit.</p>
						<p>If the emissions do not screen out as ‘insignificant’ you’ll need to apply for a complex bespoke permit. Complex bespoke permits require a site specific air quality modelling assessment. See the guidance on how to do ‘<a href="guide10.html">detailed air quality modelling for emissions from specified generators</a>’ and the information you must include in your <a href="https://www.gov.uk/guidance/environmental-permitting-air-dispersion-modelling-reports">report</a>.</p>
						<h3 class="govuk-heading-s"><a id="Secondary_abatement_to_meet_ELV_110"></a>Secondary abatement to meet ELV</h3>
						<p>You may configure several generators to exhaust all of their flue gases through a single combined stack to meet ELV.</p>
						<p>The regulators consider this to be an appropriate technique providing the ELV is met on that stack.<br>
						You’ll need to apply for a bespoke permit if you use this technique.</p>
						<h3 class="govuk-heading-s"><a id="Application_forms_117"></a>Apply online</h3>

						<p class="grey-box">
						<!-- <a href="/{{folder}}/start/start-or-resume">Apply for a bespoke permit</a> -->
						<a href="#ß">Apply for a bespoke permit</a>
						</p>

						<h2 class="govuk-heading-m"><a id="Charges_for_bespoke_permits_124"></a>Charges for bespoke permits</h2>
						<p>Find charges for bespoke medium combustion plant bespoke permits in table 1.10 <a href="#">Environmental Permitting Charging Scheme</a></p>
						<p>If the Environment Agency needs to assess the impact of emissions to air on a habitats site they will charge you a supplementary charge. Their charge is in table 1.19.2 in the <a href="https://www.gov.uk/government/publications/environmental-permitting-charging-scheme">Environmental Permitting Charges Scheme</a>.</p>
						<h2 class="govuk-heading-m"><a id="Information_you_need_to_provide_with_your_bespoke_application_129"></a>Information you need to provide with your bespoke application</h2>
						<p>You must provide all the <a href="#">information required for a SRP application</a> and you must also provide the following.</p>
						<h3 class="govuk-heading-s"><a id="ELV_compliance_verification_132"></a>ELV compliance verification</h3>
						<p>Submit monitoring evidence that you can meet the ELV with your application for a complex bespoke permit.</p>
						<p>You can demonstrate you’re meeting ELVs by using:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="https://www.gov.uk/government/publications/m5-monitoring-of-stack-gas-emissions-from-medium-combustion-plants-and-specified-generators">M5 Monitoring of stack gas emissions from medium combustion plants and specified generators</a> for simple bespoke permits</li>
						<li><a href="https://www.gov.uk/government/collections/monitoring-emissions-to-air-land-and-water-mcerts#emissions-to-air">MCERTS</a> for complex bespoke permits</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Energy_efficiency_report_for_SG_20MWth_or_more_139"></a>Energy efficiency report for SG 20MWth or more</h3>
						<p>If the new MCP which is also a SG has a total thermal rated input of 20 MWth or more you must meet the requirements of <a href="http://www.legislation.gov.uk/uksi/2016/1154/schedule/24/made">Schedule 24 of the environmental permitting regulations</a>. This implements the requirements of the Energy Efficiency Directive. You must prepare and submit a report with your application on how your <a href="https://www.gov.uk/guidance/energy-efficiency-standards-for-industrial-plants-to-get-environmental-permits">generator meets the requirements</a>.</p>
						<p>This requirement does not apply to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>spark ignition engines</li>
						<li>existing tranche A and tranche B generators</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Generators_located_in_or_deploying_to_an_AQMA_146"></a>Generators located in or deploying to an AQMA</h3>
						<p>You must provide details of the specific AQMA. The regulator will consult with the LA which has responsibility for the AQMA to verify the ambient background NO2 concentration you provided.</p>
						<h3 class="govuk-heading-s"><a id="Generators_within_the_distance_requiring_a_conservation_assessment_149"></a>Generators within the distance requiring a conservation assessment</h3>
						<p>For bespoke permit applications you must meet the habitats requirements as set out in the guidance <a href="https://www.gov.uk/guidance/air-emissions-risk-assessment-for-your-environmental-permit#screening-for-protected-conservation-areas">screening for protected conservation areas</a>. You may need to do detailed modelling if you cannot meet the requirements.</p>
						<h2 class="govuk-heading-m"><a id="Get_help_with_your_application_152"></a>Get help with your application</h2>
						<p>See guidance on how to <a href="https://www.gov.uk/guidance/waste-environmental-permits#help">get help with your application</a>.</p>
						<h2 class="govuk-heading-m"><a id="Submit_your_application_155"></a>Submit your application</h2>
						<p>Email your completed forms to <a href="mailto:PSC@environment-agency.gov.uk">PSC@environment-agency.gov.uk</a> or post them to:</p>
						<p>Permitting and Support Centre<br>
						Environmental Permitting Team<br>
						Quadrant 2<br>
						99 Parkway Avenue<br>
						Parkway Business Park<br>
						Sheffield<br>
						S9 4WF</p>
						<h2 class="govuk-heading-m"><a id="After_you_apply_166"></a>After you apply</h2>
						<p>The regulator may reject your application if, for example you have:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>not used the right forms</li>
						<li>forgotten to include the fee or sent the wrong fee</li>
						<li>not provided important information</li>
						</ul>
						<p>Once the regulator has the information they need to start assessing your application, they will contact you and tell you that your application is ‘duly made’. You will be notified if your application is duly made within:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>one month in England</li>
						<li>21 working days in Wales</li>
						</ul>
						<p>They may still request more information if they need it to complete their assessment.</p>
						<h3 class="govuk-heading-s"><a id="After_you_get_your_permit_179"></a>After you get your permit</h3>
						<p>If we issue a specified generator permit to a mobile SG we’ll notify the LA to which it deploys.</p>
						<p>Once the regulators have issued your permit they will add your details to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the Environment Agency’s <a href="https://environment.data.gov.uk/public-register/view/index">public register</a> in England</li>
						<li>Natural Resources Wales <a href="https://naturalresources.wales/permits-and-permissions/check-for-a-permit-licence-or-exemption/?lang=en">public register</a> in Wales</li>
						</ul>
						<p>See guidance on <a href="guide8.html">how to comply with your permit</a> and how you’ll be regulated.</p>



</div><!-- END MCP_CONTENT -->



						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
