{% set pageTitle="Medium combustion plant and specified generators: environmental permits" %}

{% set pageSummary="If you operate a medium combustion plant or a generator, find out if you need to meet medium combustion plant (MCP) and/or specified generator regulations." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
						</div>


						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>



<div id="mcp-content">

						<p>The environmental permitting regulations (EPR) have been amended to include new requirements for:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>medium combustion plants (MCPs)</li>
						<li>specified generators</li>
						</ul>
						<p>If your MCP or generator is covered by the regulations you’ll need to apply for a MCP and/or specified generator environmental permit.</p>
						<h2 class="govuk-heading-m"><a id="Regulators_5"></a>Regulators</h2>
						<p>The regulators are:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>Environment Agency for England</li>
						<li>Natural Resources Wales for Wales</li>
						<li><a href="https://www.sepa.org.uk/regulations/pollution-prevention-and-control/medium-combustion-plant/">Scottish Environment Protection Agency for Scotland</a></li>
						<li><a href="https://www.daera-ni.gov.uk/articles/medium-combustion-plant-directive-and-specified-generators">Department of Agriculture, Environment and Rural Affairs for Northern Ireland</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Air_quality_11"></a>Air quality</h2>
						<p>MCP and specified generator environmental permits protect air only.<br>
						The permits can control emissions of these pollutants to air:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>sulphur dioxide (SO2)</li>
						<li>nitrogen oxides (NOx)</li>
						<li>dust</li>
						</ul>
						<p>Improving air quality will reduce the potential risks to human health and the environment.<br>
						The permits are standalone unless the MCP or generator is part of:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>an [Industrial Emissions Directive (IED)] installation permit</li>
						<li>a part B environmental permit</li>
						</ul>
						<p>Where you have an existing environmental permit under the <a href="##IED">IED</a> or a <a href="##PartB">Part B Local Authority (LA)</a> permit you may need to vary your permit to include MCP or specified generator requirements.</p>
						<p>The regulations set the emission controls that must be met. The emission limits will be conditions of the permit. <a href="https://www.gov.uk/guidance/best-available-techniques-environmental-permits">Best available techniques (BAT)</a> do not apply to the standalone environmental permits.</p>
						<h2 class="govuk-heading-m"><a id="Medium_combustion_plants_MCPs_28"></a>Medium combustion plants (MCPs)</h2>
						<p>The MCP regulations apply to MCP with a capacity more than or equal to 1 MWth and less than 50 MWth burning any fuel. MCPs are classed as new or existing.</p>
						<p>Read the guidance <a href="guide2.html">Medium combustion plant: when you need a permit</a> to check:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>if your static or mobile MCP requires a MCP environmental permit – it may be excluded from meeting the regulations</li>
						<li>the deadline for getting the permit – if it’s classed as new you must get your permit immediately</li>
						</ul>
						<p>If your MCP:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>does not generate electricity then only the MCP regulations apply</li>
						<li>does generate electricity then <a href="#when-MCP-and-specified-generator-regulations-apply-to-your-generator">both the MCP and specified generator regulations may apply</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Generators_42"></a>Generators</h2>
						<p>A generator is a combustion plant that generates electricity. The specified generator regulations apply to generators with a capacity up to 50 MWth burning any fuel. Generators are classed as Tranche A and Tranche B.</p>
						<p>Read the guidance <a href="guide3.html">Specified generators: when you need a permit</a> to check:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>if your static or mobile generator or a number of generators on your site requires a specified generator environmental permit - some specified generators are excluded from meeting the regulations</li>
						<li>the deadline for getting the permit – if it’s classed as a tranche B specified generator you must get your environmental permit immediately</li>

						</ul>
						<h2 class="govuk-heading-m"><a id="When_both_MCP_and_specified_generator_regulations_apply_to_your_generator_51"></a>When both MCP and specified generator regulations apply to your generator</h2>
						<p>The MCP and specified generator regulations have different sets of criteria to assess against.<br>
						If your MCP generates electricity both sets of controls may apply.</p>
						<p>Assess if your MCP needs to meet the:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="guide2.html">MCP regulations</a></li>
						<li>specified generator <a href="guide3.html">regulations</a></li>
						</ul>
						<p>If both:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the regulations requiring the stricter controls will apply</li>
						<li>you must get your permit by the earliest date set in the regulations</li>

						</ul>
						<h2 class="govuk-heading-m"><a id="IED_chapter_2_permits_affected_by_the_regulations_64"></a>IED chapter 2 permits affected by the regulations</h2>
						<p>The specified generator regulations do not apply on a chapter 2 IED installation site. However, these regulations will inform site specific BAT.</p>
						<p>MCP regulations do apply to MCPs on a chapter 2 IED installation. You must meet MCP requirements where they are a:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>primary activity – where the total rated thermal input is more than 50 MWth on an installation, for example gas engines generating electricity</li>
						<li>directly associated activity - combustion to another chapter 2 activity, for example combustion on a chemical manufacturing site</li>
						</ul>
						<p>As a minimum, the MCP must meet the appropriate Medium Combustion Plant Directive (MCPD) ELV by the required date. If the existing ELVs (required by BAT) are stricter than required by MCPD, BAT continue to apply. A site specific BAT assessment may identify the need for stricter ELVs, for example to protect air quality.</p>
						<p>If you can prove that site specific BAT has changed, for example you’ve changed a base load plant to a peaking plant, you can reassess ELVs. However MCPD requirements are the minimum standard required.</p>
						<p>You will need to vary your permit if your chapter 2 IED installation:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>includes an existing MCP – you will not have to do this until 2024 at the earliest</li>
						<li>adds a new MCP – you will need to do this now</li>
						</ul>
						<p>The regulator will include MCPD requirements in your permit, such as ELVs and monitoring.<br>
						Check the guidance <a href="guide2.html">Medium combustion plant: when you need a permit</a> to find out if your MCP is covered by the regulations and the deadlines for applying.</p>
						<h2 class="govuk-heading-m"><a id="Part_B_installations_affected_by_the_regulations_84"></a>Part B installations affected by the regulations</h2>
						<p>MCP and specified generator regulations apply to some Part B activities, in particular for sections:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>1.1 - combustion activities</li>
						<li>5.1 - incineration of waste wood</li>
						</ul>
						<p>The Environment Agency for England and NRW for Wales will regulate the MCPD requirements. These were previously regulated by local authorities (LAs).</p>
						<p>See guidance on the <a href="guide9.html">requirements for MCPs that are a Part B activity</a>.</p>


</div><!-- END MCP_CONTENT -->





						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
