{% set pageTitle="Specified generators: when you need a permit" %}

{% set pageSummary="Find out if and by when you need to apply for a specified generator environmental permit to meet air quality requirements." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a></p>
						</div>

						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>


<div id="mcp-content">

						<p>A generator is a combustion plant that generates electricity, including:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>engines</li>
						<li>gas turbines</li>
						<li>boilers operating as a combined heat and power (CHP) combustion plant</li>
						</ul>
						<p>Direct drive and heat only combustion plant are not classed as generators. But they will still be a <a href="guide2.html">medium combustion plant (MCP)</a>.</p>
						<h2 class="govuk-heading-m"><a id="Definition_of_a_specified_generator_7"></a>Definition of a specified generator</h2>
						<p>The term ‘specified generator’ covers an individual generator or a number of generators if they’re:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>on the same site</li>
						<li>operated by the same operator</li>
						<li>for the same purpose (generating electricity)</li>
						</ul>
						<p>Generators are still classed as operating for the same purpose if they’re:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>using different fuels or technologies</li>
						<li>under contract for a capacity marketing agreement or to provide a balancing service</li>
						</ul>
						<p>If you have more than one generator on your site you’ll need to aggregate your generators into a specified generator. You’ll need one permit for the site.</p>
						<p>Use this guidance to work out:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>if specified generator controls apply to your generator</li>
						<li>the specified generator’s <a href="#">capacity</a></li>
						<li>whether the specified generator qualifies for <a href="#">transitional arrangements</a></li>
						<li>the <a href="#deadlines">deadline for applying for the environmental permit</a></li>
						<li>how to <a href="#form-specified-generator-site-deadlines">aggregate your generators into a specified generator</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Generators_affected_by_MCPD_controls_27"></a>Generators affected by MCPD controls</h2>
						<p>Both the MCPD and specified generator regulations can apply to generators.</p>
						<p>If your site includes medium combustion plant that generate electricity you must check if your generator:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>is excluded from both specified generator and MCPD controls - if it’s excluded from one but not the other you will still need to apply for a permit</li>
						<li>is required to meet both specified generator and MCPD controls – you’ll need to apply for the environmental permit with the stricter controls and earlier deadline</li>
						<li>is already permitted under the Environmental Permitting Regulations but must also meet MCPD requirements</li>
						</ul>
						<p>Check using the guidance on <a href="guide2.html">MCPD controls</a>.</p>
						<h2 class="govuk-heading-m"><a id="Excluded_generators_38"></a>Excluded generators</h2>
						<p>These generators are excluded from specified generator controls. MCP that generate electricity must also check exclusions under <a href="guide2.html">MCPD controls</a>.</p>
						<h3 class="govuk-heading-s"><a id="Chapter_2_or_3_IED_installation_42"></a>Chapter 2 or 3 IED installation</h3>
						<p>Generators that are part of an IED installation under Chapter 2 or 3 are excluded.<br>
						However, the regulators will use the MCPD and specified generator requirements to inform the site-specific BAT. These are the minimum standards they’ll apply. See how to meet <a href="#iedinfo">MCPD and specified generator requirements for IED chapter 2 installations</a>.</p>
						<h3 class="govuk-heading-s"><a id="Nuclear_safety_role_47"></a>Nuclear safety role</h3>
						<p>Generators that have a defined nuclear safety role under a nuclear site licence issued by the Office for Nuclear Regulation are excluded.</p>
						<h3 class="govuk-heading-s"><a id="Emergency_backup_generators_50"></a>Emergency back-up generators</h3>
						<p>From 1 January 2019, back-up generators only used to provide power at a site during an emergency are excluded. However, they will be classed as a <a href="guide2.html">MCP</a> and require a permit by the appropriate deadline.</p>
						<p>Using back-up generators for the following is not classed as emergency use:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>providing balancing services (whether procured or not)</li>
						<li>demand side response operations such as triad avoidance or fast frequency response</li>
						</ul>
						<p>For an on-site emergency, there’s no restriction on the total number of hours:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>a back-up generator can operate for - operators must try to reduce the period and frequency of emergency use</li>
						<li>‘black start’ back-up generators can operate for</li>
						</ul>
						<h4><a id="Number_of_hours_you_can_test_backup_generators_61"></a>Number of hours you can test back-up generators</h4>
						<p>You must not carry out more than 50 hours testing a year for each back-up generator. You must get an agreement in writing from your regulator if you want to increase this limit. We can exclude commissioning time within the written agreement.</p>
						<p>For each back-up generator, you must record the number of hours you test during the year. This is to demonstrate that you meet the exclusion criteria.</p>
						<p>If you exceed the limit of 50 hours testing a year without a written agreement the regulator will take appropriate enforcement action.</p>
						<h4><a id="Data_centres_69"></a>Data centres</h4>
						<p>Data centres that use an onsite emergency back-up generator when the transmission frequency is unstable are excluded. This is provided it’s not part of a formal agreement or contract.</p>
						<h4><a id="How_to_test_backup_engines_73"></a>How to test backup engines</h4>
						<p>When you test backup engines you should:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>stagger the tests if you have multiple back-up engines</li>
						<li>keep testing times and frequency to the minimum – just enough to demonstrate reliability at the appropriate load</li>
						<li>only test when you expect the ambient NOx background to be low, such as not during peak traffic periods</li>
						<li>use the electricity generated from the test on your site</li>
						<li>install backup generators away from sensitive receptors (such as not below windows or venting onto car parks) and terminate exhaust flues vertically and ensure they have no obstructions</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Offshore_generators_82"></a>Offshore generators</h3>
						<p>Generators operated offshore are excluded.</p>
						<h3 class="govuk-heading-s"><a id="Gas_storage_and_unloading_platforms_86"></a>Gas storage and unloading platforms</h3>
						<p>Generators installed on a gas storage or unloading platform are excluded.</p>
						<h3 class="govuk-heading-s"><a id="Research_and_development_testing_90"></a>Research and development testing</h3>
						<p>See the Environment Agency’s <a href="https://www.gov.uk/government/publications/operating-a-schedule-25b-tranche-b-specified-generator-for-research-and-development-rps-220">Operating a schedule 25B, tranche B specified generator for research and development: RPS 220</a> for the requirement in England.</p>
						<h2 class="govuk-heading-m"><a id="Mobile_generators_94"></a>Mobile generators</h2>
						<p>The owner of the mobile generator is responsible for its compliance with SG controls.</p>
						<p>Specified generator controls do not apply to mobile generators that are designed to move or be moved (on roads or land). However, the controls do apply if they:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>generate electricity for the national transmission or distribution system to cover a specified generator that’s out of operation</li>
						<li>perform a function that a static generator could do</li>
						</ul>
						<p>The regulator will decide whether a mobile generator is operating as a static generator. They’ll look at:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the nature of the activity being carried out and other equipment being used</li>
						<li>whether the site is relatively permanent or transient</li>
						<li>how long the generator is in a single location - if it’s been in place for 6 months or more it’ll be considered to be functioning like a static generator and in scope of the controls</li>
						<li>whether the site is finished or parts of it are under construction</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Mobile_generators_used_for_planned_maintenance_or_emergencies_107"></a>Mobile generators used for planned maintenance or emergencies</h3>
						<p>SG controls do not apply when the mobile generator is used for planned maintenance or emergencies.</p>
						<p>These are examples of maintenance or emergency use from different sectors:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>water utilities – emergency use or when replacing assets such as pumps and electrical infrastructure</li>
						<li>IT and telecoms – routine maintenance activities of data centres or telecom switch sites</li>
						<li>general building maintenance activities such as low voltage/high voltage switchgear upgrades and replacements</li>
						<li>running electricity transmission and distribution during an emergency or planned maintenance</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Mobile_generators_on_construction_sites_117"></a>Mobile generators on construction sites</h3>
						<p>Specified generator controls do not apply to mobile generators used on construction sites.<br>
						However, if only part of a site is under construction, the regulator will assess whether a mobile generator is performing a function that could be carried out by a static generator.</p>
						<h2 class="govuk-heading-m"><a id="Capacity_122"></a>Capacity</h2>
						<p>Specified generator controls, unless excluded, apply to generators with a rated thermal input between 1 and 50 MWth.</p>
						<p>They also apply to generators less than 1 MWth, if they:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>have a capacity agreement or an agreement to provide balancing services</li>
						<li>are part of a specified generator group which in total has a rated thermal input of between 1 and less than 50 MWth</li>
						</ul>
						<p>Rated thermal input is the capacity of the SG. It’s calculated using the net calorific value (CV) not the gross CV. You can ask the manufacturer for this value or you can calculate it using <a href="https://www.amps.org.uk/sites/default/files/uploads/Determination%20of%20thermal%20input%20power%20of%20an%20engine%20driven%20generator.pdf">Association of Manufacturers of Power generating Systems (AMP) method (pdf)</a>.</p>
						<h2 class="govuk-heading-m"><a id="More_time_to_comply__who_qualifies_132"></a>More time to comply – who qualifies</h2>
						<p>Some operators have more time to get their permit in place and comply with permit conditions (this is called transitional arrangements).</p>
						<p>Transitional arrangements apply:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>to all generators that were already operating before 1 December 2016</li>
						<li>if the operator already had a contract to provide services to the national grid (capacity agreement, balancing services contract or FIT accredited application) before 31 October 2017</li>
						</ul>
						<p>The regulators consider that a capacity contract is the same as a capacity agreement. These are called ‘Tranche A’ generators. Contracts made after 31 October 2017 can only get tranche A status if the generator stopped generating for the contract and it ended before 31 December 2018.</p>
						<p>Participating in triad avoidance does not affect Tranche A status.<br>
						Those that do not qualify are called ‘Tranche B’ generators. They must have their permits in place, and start complying with the conditions, by 1 January 2019 or before their contract starts.</p>
						<p>The Environment Agency has extended this date. See Regulatory Position Statement: <a href="https://www.gov.uk/government/publications/permits-for-schedule-25b-tranche-b-specified-generators-rps-219">Permits for schedule 25B, tranche B specified generators: RPS 219</a> for the latest date you must get your permit in England.<br>
						Here are the requirements to meet Tranche A status and qualify for transitional arrangements.</p>
						<h3 class="govuk-heading-s"><a id="Qualifying_for_Tranche_A__less_than_1_MWth_148"></a>Qualifying for Tranche A - less than 1 MWth</h3>
						<p>A generator with a rated thermal input of less than 1 MWth is classed as Tranche A if it meets any of these conditions and it’s:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>under a capacity agreement from the 2014, 2015 or 2016 capacity auctions (regardless of when the generator came into operation)</li>
						<li>under an agreement to provide balancing services entered into before 31 October 2017</li>
						<li>application for a Feed-in Tariff preliminary accreditation was received by the Gas and Electricity Markets Authority before 1 December 2017</li>
						</ul>
						<p>Where an aggregator is involved, the date of the capacity agreement is the date of the contract between the aggregator and the National Transmission System Operator.</p>
						<h3 class="govuk-heading-s"><a id="Qualifying_for_Tranche_A__between_1_MWth_and_under_50_MWth_157"></a>Qualifying for Tranche A - between 1 MWth and under 50 MWth</h3>
						<p>A generator with a rated thermal input of between 1 MWth and under 50 MWth is classed as Tranche A if it meets any of these conditions:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>it came into operation before 1 December 2016 it’s under a capacity market agreement or balancing service from the 2014 or 2015 and 2016 capacity auctions (regardless of when the generator came into operation)</li>
						<li>an application for a Feed-in Tariff preliminary accreditation was received by the Gas and Electricity Markets Authority before 1 December 2016</li>
						<li>any contract (capacity market agreement or balancing service contract) was made after 31 October 2017 and is still in effect from 1 January 2019</li>
						</ul>
						<p>Where an aggregator is involved, the date of the capacity agreement is the date of the contract between the aggregator and the National Transmission System Operator.</p>
						<p>A contract is the binding agreement between the National Transmission System Operator and the supplier – this is a legal contract. For balancing services, a Short Term Operating Reserve (STOR) contact is made when National Grid issue a STOR Tender Acceptance. That creates the STOR contract for the provision of the service.</p>
						<h2 class="govuk-heading-m"><a id="Deadlines_you_need_to_meet_168"></a>Deadlines you need to meet</h2>
						<p>The permitting date is the date by which you must have a permit in place.<br>
						If you have aggregated your generators into a specified generator, the term ‘relevant date’ is also used. This is the earliest date by which you must have your permit in place. You work out your relevant date by taking all generators on your site and assessing which has the earliest permitting date.</p>
						<p>The compliance date is the date by which a specified generator needs to comply with the permit conditions. Read the guidance on <a href="guide4.html">Specified generator permit conditions</a>.</p>
						<p>Use this information to work out the:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting and compliance date for an individual specified generator</li>
						<li>relevant date and compliance date for an aggregated specified generator</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Deadlines_for_individual_specified_generators_178"></a>Deadlines for individual specified generators</h3>
						<p>To work out your permitting date and compliance date for an individual specified generator, you must work out the following:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>whether your generator is Tranche A or Tranche B</li>
						<li>its rated thermal input</li>
						<li>its emissions</li>
						<li>the number of hours it operates for each year</li>
						</ul>
						<p>‘Operating hours’ is the number of hours the combustion plant is operating and discharging emissions to air. Do not include start-up (SU) and shut down (SD) periods. You must minimise SU &amp; SD times.</p>
						<p>See how to work out the deadline for a <a href="#site">specified generator site</a>.</p>
						<h3 class="govuk-heading-s"><a id="Deadlines_for_Tranche_B_specified_generators_190"></a>Deadlines for Tranche B specified generators</h3>
						<p>All Tranche B generators must meet the following deadlines.</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting date (or relevant date)  - 1 January 2019 or the date the new generator was commissioned</li>
						<li>compliance date - 1 January 2019</li>
						</ul>
						<p>If operations start after 1 January 2019, your permitting date and compliance date are the same – the date you commissioned the specified generator.</p>
						<p>These dates also apply to Tranche A operators who become Tranche B operators because they signed up to a new capacity market, balancing services or FIT contract after 31 October 2017 and it remained in place after 31 December 2018.</p>
						<p>If the new contract date is after 1 January 2019, your permitting date and compliance date are the same as the new contract date.</p>
						<h3 class="govuk-heading-s"><a id="Deadlines_for_Tranche_A_550_MWth_specified_generators_201"></a>Deadlines for Tranche A 5-50 MWth specified generators</h3>
						<p>Deadlines for Tranche A between more than 5 and less than 50 MWth generators depend on the level of emissions and operating hours.</p>
						<p>Emissions above 500mg/Nm3 (STP, 15% O2) and operating for more than 50 hours a year (aggregated hours)</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting date (or relevant date) – 1 October 2019</li>
						<li>compliance date – 1 January 2025</li>
						</ul>
						<p>Emissions below 500mg/Nm3 (STP, 15% O2) or operating 50 hours or less a year (aggregate hours)</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting date (or relevant date) – 1 January 2025</li>
						<li>compliance date – 1 January 2025</li>
						</ul>
						<p>If a Tranche A more than 5-50 MWth generator entered into a capacity market, balancing services or FIT contract before 1 December 2016 and it ends after 1 January 2025, this end date becomes the compliance date. They must not participate in any other contracts for this to apply.</p>
						<h3 class="govuk-heading-s"><a id="Deadlines_for_Tranche_A_15_MWth_specified_generators_215"></a>Deadlines for Tranche A 1-5 MWth specified generators</h3>
						<p>Deadlines for Tranche A 1- more than or equal to 5 MWth generators are:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting date (or relevant date) - 1 January 2030</li>
						<li>compliance date – 1 January 2030</li>
						</ul>
						<p>If a Tranche A 1-5 MWth generator entered into a capacity market, balancing services or FIT contract before 1 December 2016 and it ends after 1 January 2030 this end date becomes the compliance date.</p>
						<p>They must not participate in any other contracts for this to apply.</p>
						<h3 class="govuk-heading-s"><a id="Deadlines_for_Tranche_A_less_than_1_MWth_specified_generators_225"></a>Deadlines for Tranche A less than 1 MWth specified generators</h3>
						<p>Deadlines for Tranche A less than 1 MWth generators are:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>relevant date – 1 January 2030</li>
						<li>compliance date – 1 January 2030</li>
						</ul>
						<p>If a Tranche A less than 1 MWth generator entered into a capacity market, balancing services or FIT contract before 31 October  2017, and it ends after 1 January 2030, this date will become their compliance date. They must not participate in any other contracts for this to apply.</p>
						<h2 class="govuk-heading-m"><a id="Aggregating_generators_and_deadlines_for_a_specified_generator_site_233"></a>Aggregating generators and deadlines for a specified generator site</h2>
						<p>Follow these steps to work out the relevant date (earliest permitting date) and compliance date for aggregated generators that are a specified generator site.</p>
						<ol>
						<li>Identify Tranche A and Tranche B status for each generator on the site.</li>
						<li>Calculate the total rated thermal input of the specified generators on site. Add together the rated thermal input of all the generators (both Tranche A and B but not any excluded generators). Different deadlines apply if the total rated capacity is between 1-5 MWth or more than 5 MWth. If it exceeds 50 MWth you’ll need an IED installations permit.</li>
						<li>Calculate the total number of operating hours a year of your specified generator site. Include tranche As and Bs, but not excluded generators. Identify if the aggregated hours are less than or more than 50 hours per year. Do not add the operating hours of each generator together. Each site hour can include one or more generators. For example, you have 3 generators running for exactly the same 400 hour time period – the total operating hours is 400 hours or you operate half of your generators for 12 hours and half for 24 hours therefore the total is 24 hours because the generators are running for different time periods.</li>
						<li>Assess if any Tranche A generator’s NOx emissions will be less than or more than 500 mg/Nm3 per year (STP, 15% O2).</li>
						</ol>
						<h3 class="govuk-heading-s"><a id="Deadlines_if_you_have_any_Tranche_B_generators_on_your_site_242"></a>Deadlines if you have any Tranche B generators on your site</h3>
						<p>If you have any Tranche B generators on your specified generator site, your relevant date (earliest permitting date) and compliance date is 1 January 2019 or the date it’s commissioned.</p>
						<h3 class="govuk-heading-s"><a id="Deadlines_if_you_only_have_Tranche_A_generators_on_your_site_246"></a>Deadlines if you only have Tranche A generators on your site</h3>
						<p>If you only have Tranche A generators on your specified generator site, work out your relevant date (earliest permitting date) and compliance date as follows.</p>
						<h4><a id="Total_capacity_of_all_the_Tranche_A_generators_is_more_than_5_MWth_249"></a>Total capacity of all the Tranche A generators is more than 5 MWth</h4>
						<p>If at least one of your Tranche A generators is emitting more than 500mg/Nm3 (STP, 15% O2) and operating for more than 50 hours a year, your:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>permitting date (relevant date) is 1 October 2019</li>
						<li>compliance date is 1 January 2025</li>
						</ul>
						<p>Or, if all of your Tranche A generators meet one of either of these conditions:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>emitting less than 500mg/Nm3 (STP, 15% O2)</li>
						<li>operating for less than 50 hours a year</li>
						</ul>
						<p>Your permitting date (relevant date) and compliance dates are both 1 January 2025.<br>
						If a Tranche A more than 5 - 50 MWth generator entered into a capacity market, balancing services or FIT contract before 1 December 2016 and it ends after 1 January 2025, this end date becomes the compliance date. They must not participate in any other contracts for this to apply.</p>
						<h4><a id="Total_capacity_of_all_the_Tranche_A_generators_is_less_than_5_MWth_262"></a>Total capacity of all the Tranche A generators is less than 5 MWth</h4>
						<p>Your permitting date (relevant date) and compliance dates are both on 1 January 2030.</p>
						<h2 class="govuk-heading-m"><a id="Type_of_permits_266"></a>Type of permits</h2>
						<p>There are 3 types of specified generator environmental permit:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>standard rules permit (low risk)</li>
						<li>simple bespoke permit (low risk)</li>
						<li>complex bespoke permit</li>
						</ul>
						<p>Before you apply for the environmental permit you must be able to demonstrate you can comply with <a href="guide5.html">specified generator environmental permit conditions</a>.</p>
						<p>Check what to do if you have an existing:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="#ied">IED chapter 2 installations environmental permit</a></li>
						<li><a href="#partb">Part B installations environmental permit</a></li>
						</ul>

</div><!-- END MCP_CONTENT -->

						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
