{% set pageTitle="Specified generator: comply with permit conditions " %}

{% set pageSummary="The emission limit values (ELVs) and air quality standards specified generators must meet, including the deadlines for complying." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
						</div>

						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>

<div id="mcp-content">

						<p>If your generator’s capacity is more than 1MWth you may also need to comply with the <a href="guide4.html">MCP ELVs requirements</a>.</p>
						<h2 class="govuk-heading-m"><a id="Deadlines_for_complying_with_ELVs_2"></a>Deadlines for complying with ELVs</h2>
						<p>You must make sure your specified generator complies with the appropriate ELV by the required date. These are, for:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>Tranche B specified generators – from 1 January 2019 or when the new specified generator is commissioned</li>
						<li>Tranche A specified generators – either 1 January 2025 or 1 January 2030 depending on the <a href="#deadlines-sg-controls">site’s total capacity</a></li>
						</ul>
						<p>For a specified generator site each individual generator must meet the conditions that relate to that generator by the required date.</p>
						<p>You must demonstrate you can comply with all of these permit conditions before you apply for your specified generator permit.</p>
						<h2 class="govuk-heading-m"><a id="Standard_ELV_the_specified_generator_must_meet_13"></a>Standard ELV the specified generator must meet</h2>
						<p>The standard ELV for nitrogen oxides is 190mg/Nm3 at a temperature and pressure of 273.15K and 101.3kPa. With a correction for the water vapour content of the waste gases to dry gas, standardised to O2 concentration of 15%.</p>
						<p>This is equivalent to 500mg/Nm3 at 5% O2. This ELV applies to all generators regardless of their fuel or technology.</p>
						<p>This ELV is achievable by most gas fired generators. If you operate a generator with a diesel engine, to achieve this ELV you’re likely to need to fit secondary abatement.</p>
						<p>Where the generator needs secondary abatement, for example by using selective catalytic reduction (SCR), the ELV must be met for a:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>tranche A, within 20 minutes of starting operation</li>
						<li>tranche B that was previously a tranche A, within 20 minutes of starting operation</li>
						<li>tranche B, within 10 minutes of starting operation</li>
						</ul>
						<p>You must monitor emissions at least every 3 years where secondary abatement is fitted.</p>
						<p>You must monitor your emissions every 1500 hours if you are operating under the <a href="#500-hours">500 hour per annum exemption</a>.</p>
						<h2 class="govuk-heading-m"><a id="Air_quality_standards_30"></a>Air quality standards</h2>
						<p>Your specified generator must not cause an air quality standard to be breached. You must ensure it protects:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>human health (known as sensitive receptors)</li>
						<li>conservation sites (known as habitats)</li>
						</ul>
						<p>You must make sure your generator can comply with the rules in a SRP on sensitive receptors and habitats. If it cannot you must quantify the impact on sensitive receptors and habitats, for example by air dispersion modelling.</p>
						<p>Read the detail in <a href="guide10.html">how to do detailed air quality modelling for specified generators</a>.</p>
						<p>As a result of your assessment the regulator may set the following stricter permit conditions. These could require you to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>meet a lower ELV</li>
						<li>better disperse emissions</li>
						<li>reduce hours of operation</li>
						</ul>
						<p>You must meet these conditions from the date the permit is required.</p>
						<h2 class="govuk-heading-m"><a id="Protecting_habitats_48"></a>Protecting habitats</h2>
						<p>See <a href="#impacts-on-conservation-sites-heading">guidance on requirements to protect habitats</a>.</p>
						<h2 class="govuk-heading-m"><a id="Dark_smoke_52"></a>Dark smoke</h2>
						<p>The generator must not persistently emit dark smoke. See the guidance on <a href="https://www.gov.uk/preventing-air-pollution/dark-smoke">how to identify dark smoke</a>.</p>
						<h2 class="govuk-heading-m"><a id="Apply_for_a_specified_generator_environmental_permit_56"></a>Apply for a specified generator environmental permit</h2>
						<p>See the guidance on <a href="guide7.html">how to apply for a specified generator permit</a>.</p>


</div><!-- END MCP_CONTENT -->



						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
