{% set pageTitle="Apply for a medium combustion plant permit" %}

{% set pageSummary="The types of permit available, how much they cost and how to apply for your medium combustion plant directive (MCPD) environmental permit." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
						</div>

						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>

<div id="mcp-content">

						<p>Medium Combustion Plant Directive (MCPD) permits are standalone permits. They only cover emissions of SO2, NOx and dust to air. There are no permit conditions for water, land, energy efficiency, odour or noise. Best available techniques (BAT) do not apply.</p>
					<p>There are 3 types of permit for a stationary or mobile MCP:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>standard rules permit (SRP) – low risk</li>
					<li>simple bespoke – low risk</li>
					<li>complex bespoke permit – high risk</li>
					</ul>
					<p>Find information on what to do if your MCP is already permitted, for example, if you have:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li><a href="#">an IED installations environmental permit</a></li>
					<li>a <a href="#">local authority Part B Section 1.1 or 5.1 activity permit</a></li>
					</ul>
					<h2 class="govuk-heading-m"><a id="Before_you_apply_11"></a>Before you apply</h2>
					<p>Check you have all the information you need, including the deadlines you must meet. All MCPs classed as new must be permitted from 20 December 2018 or from the date it’s commissioned. Read the guidance:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li><a href="guide2.html">Medium combustion plant: when you need a permit</a></li>
					<li><a href="guide4.html">ELVs the MCP must meet</a></li>
					</ul>
					<p>You need to apply in time for the regulator to <a href="#">determine your application</a>. See <a href="https://www.gov.uk/government/publications/permits-for-schedule-25b-tranche-b-specified-generators-rps-219">RPS 219 for revised deadlines in England</a>.</p>
					<h2 class="govuk-heading-m"><a id="SRPs_19"></a>SRPs</h2>
					<p>To apply for a SRP you must be able to meet the rules set out in the permit. If you cannot, you must apply for a bespoke permit.<br>
					See the SRP available for [new low risk stationary MCPs](<a href="https://www.gov.uk/government/collections/standard-rules-environmental-permitting#medium-combustion-plant-and-specified-generators">https://www.gov.uk/government/collections/standard-rules-environmental-permitting#medium-combustion-plant-and-specified-generators</a>. You cannot apply for this SRP if your MCP is classed as a specified generator.</p>
					<p>See revised existing SRPs you can apply for - these are listed in the <a href="#">charges section</a>.</p>
					<h3 class="govuk-heading-s"><a id="Information_you_must_provide_with_your_SRP_application_26"></a>Information you must provide with your SRP application</h3>
					<p>You must provide the following information when you submit your application, the:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>operator’s name and the address of the registered office – for mobile MCP the owner is the operator</li>
					<li>MCP’s location, if stationary – address, postcode and the <a href="https://gridreferencefinder.com/">national grid reference</a> or latitude and longitude – not required for mobile MCP</li>
					<li>net rated thermal input (MWth)</li>
					<li>type of combustion plant - such as diesel engine, GT, dual fuel engine, other engine or boiler</li>
					<li>type and portion of fuels used as set out in the fuel categories in <a href="#">Annex II MCPD</a></li>
					<li>operation start date</li>
					<li>Nomenclature of Economic Activities (NACE) code for the activity<br>
					expected <a href="#">annual operating hours</a> an approximate average load in use</li>
					</ul>
					<h3 class="govuk-heading-s"><a id="Operator_competence_37"></a>Operator competence</h3>
					<p>In your application you must be able to demonstrate your ability as an operator. Provide information on:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>any conviction of a relevant offence by you or a relevant person</li>
					<li>current or past bankruptcy or insolvency proceedings against you or a relevant person</li>
					</ul>
					<p>You must also confirm you have a written <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">management system</a>.</p>
					<h3 class="govuk-heading-s"><a id="ELV_exemption_declaration_45"></a>ELV exemption declaration</h3>
					<p>If the <a href="#500-hours">500 operating hours per year exemption</a> applies to your MCP you must provide a signed declaration that the MCP will not operate more than the allowed hours.</p>
					<h3 class="govuk-heading-s"><a id="Application_form_49"></a>Application form</h3>
					<p>Complete the <a href="#">electronic application form</a> and email it to <a href="mailto:mcpd-application@environment-agency.gov.uk">mcpd-application@environment-agency.gov.uk</a>. The form verifies the SRP you’ve selected based on the information you put in.</p>
					<p>If you cannot use or have any issues with the electronic form please contact <a href="mailto:mcpdhelp@environment-agency.gov.uk">mcpdhelp@environment-agency.gov.uk</a>.</p>
					<h3 class="govuk-heading-s"><a id="Help_and_advice_55"></a>Help and advice</h3>
					<p>You can ask for pre-application advice by:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>emailing <a href="mailto:mcpdhelp@environment-agency.gov.uk">mcpdhelp@environment-agency.gov.uk</a></li>
					<li>visiting your <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">local Environment Agency office</a></li>
					</ul>
					<h2 class="govuk-heading-m"><a id="Charges_for_SRPs_61"></a>Charges for SRPs</h2>
					<p>These are the charges for the MCP SRP.<br>
					SR2018 No 7: new, low risk, stationary Medium Combustion Plant between 1 &lt; 20MWth</p>
					<table class="table table-striped table-bordered">
					<thead>
					<tr>
					<th>Number of MCPs</th>
					<th>Application charge £</th>
					<th>Subsistence charge £</th>
					<th>Transfer charge £</th>
					<th>Surrender charge £</th>
					</tr>
					</thead>
					<tbody>
					<tr>
					<td>1</td>
					<td>446</td>
					<td>194</td>
					<td>169</td>
					<td>125</td>
					</tr>
					<tr>
					<td>up to 3</td>
					<td>520</td>
					<td>256</td>
					<td>169</td>
					<td>125</td>
					</tr>
					<tr>
					<td>up to 5</td>
					<td>620</td>
					<td>342</td>
					<td>169</td>
					<td>125</td>
					</tr>
					<tr>
					<td>up to 8</td>
					<td>720</td>
					<td>394</td>
					<td>169</td>
					<td>125</td>
					</tr>
					<tr>
					<td>up to 10</td>
					<td>779</td>
					<td>520</td>
					<td>169</td>
					<td>125</td>
					</tr>
					<tr>
					<td>up to 15</td>
					<td>813</td>
					<td>620</td>
					<td>169</td>
					<td>125</td>
					</tr>
					</tbody>
					</table>
					<p>The charges for these revised SRPs remain unchanged – you can find details in the relevant table in the <a href="https://www.gov.uk/government/publications/environmental-permitting-charging-scheme">environmental permitting table of charges</a>:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>SR2009 No 4: combustion of biogas at sewage treatment works – table 2.16.16</li>
					<li>SR2012 No 9: combustion of biogas from anaerobic digestion facilities – table 1.16.36</li>
					<li>SR2012 No 10: on-farm anaerobic digestion facilities that use farm wastes only, including use of the resultant biogas – table 2.16.15</li>
					<li>SR2012 No 11: anaerobic digestion facility including use of the resultant biogas – table 1.16.37</li>
					<li>SR2012 No 12: anaerobic digestion facility including use of the resultant biogas (waste recovery operation) – table 2.16.15</li>
					</ul>
					<h2 class="govuk-heading-m"><a id="Bespoke_permits_81"></a>Bespoke permits</h2>
					<p>If you cannot meet the conditions in a SRP you must apply for a bespoke permit. There are 2 types:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>simple bespoke (low risk) – does not require air dispersion modelling</li>
					<li>complex bespoke (high risk) – does require air dispersion modelling</li>
					</ul>
					<p>You need to complete and submit:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">Form A</a></li>
					<li><a href="#">Form B2.5</a></li>
					<li><a href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f1-opra-charges-declarations">Form F1</a></li>
					</ul>
					<h2 class="govuk-heading-m"><a id="Charges_for_bespoke_permits_92"></a>Charges for bespoke permits</h2>
					<p>Find the charges for simple and complex bespoke MCP permits in table 1.10 <a href="https://www.gov.uk/government/publications/environmental-permitting-charging-scheme">Environmental Permitting Charging Scheme</a>.<br>
					If the Environment Agency needs to do extra or unusual regulatory work they will charge you a supplementary charge. For example, if they need to assess the impact of emissions to air on a habitats site. Their charge is in table 1.19.2 in the <a href="https://www.gov.uk/government/publications/environmental-permitting-charging-scheme">Environmental Permitting Charges Scheme</a>.</p>
					<h2 class="govuk-heading-m"><a id="Information_you_must_provide_with_your_bespoke_application_96"></a>Information you must provide with your bespoke application</h2>
					<p>You must provide all the <a href="#">information required for a SRP application</a> and you must also provide the following.</p>
					<h3 class="govuk-heading-s"><a id="Air_emissions_risk_assessment_100"></a>Air emissions risk assessment</h3>
					<p>If there are habitats sites within the screening distance of your MCP you’ll need to submit your air emissions risk assessment with your application. This is to demonstrate its impact on the site.</p>
					<h3 class="govuk-heading-s"><a id="Energy_efficiency_report_for_MCP_20MWth_or_more_103"></a>Energy efficiency report for MCP 20MWth or more</h3>
					<p>If the MCP’s total thermal rated input is 20 MWth or more you must also meet the requirements of <a href="http://www.legislation.gov.uk/uksi/2016/1154/schedule/24/made">Schedule 24 of the environmental permitting regulations</a>. This implements the requirements of the Energy Efficiency Directive. You must prepare and submit a report with your application on how your <a href="https://www.gov.uk/guidance/energy-efficiency-standards-for-industrial-plants-to-get-environmental-permits">MCP meets the requirements</a>.</p>
					<h3 class="govuk-heading-s"><a id="Mobile_MCP_deploying_to_an_AQMA_106"></a>Mobile MCP deploying to an AQMA</h3>
					<p>You must provide:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>details of the specific AQMA</li>
					<li>generic examples against high background concentration</li>
					<li>evidence of no harm to local air quality</li>
					</ul>
					<p>The regulator will restrict deployment as appropriate.</p>
					<h3 class="govuk-heading-s"><a id="Stationary_MCP_located_in_a_LA_AQMP_mostly_boilers_114"></a>Stationary MCP located in a LA AQMP (mostly boilers)</h3>
					<p>You must provide:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>details of the AQMP</li>
					<li>actual emissions from MCP</li>
					</ul>
					<p>If your MCP is not a generator, for example it’s a boiler you must find out if your MCP is located within a LA AQMA. You need to tell us this in your application. The regulator will consult the LA to check if your MCP is identified in the associated AQMP.</p>
					<p>If it is, your MCP emissions may be identified as adversely impacting air quality in the area. The LA, in their plan, will identify how much stricter the ELV needs to be to deliver a noticeable improvement to air quality. The regulator will include the agreed stricter ELV in your permit conditions.</p>
					<h3 class="govuk-heading-s"><a id="Stationary_MCP_within_the_distance_requiring_a_conservation_assessment_123"></a>Stationary MCP within the distance requiring a conservation assessment</h3>
					<p>You’ll be applying for a bespoke permit if you cannot meet the habitat’s requirements set out in the SRP rules.</p>
					<p>For bespoke permit applications you must meet the habitats rules as set out in the guidance <a href="https://www.gov.uk/guidance/air-emissions-risk-assessment-for-your-environmental-permit#screening-for-protected-conservation-areas">screening for protected conservation areas</a>. You may need to do an air emissions risk assessment if you cannot meet the requirements.</p>
					<h3 class="govuk-heading-s"><a id="Information_well_use_to_set_monitoring_requirements_129"></a>Information we’ll use to set monitoring requirements</h3>
					<p>You must provide detailed information on:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>secondary abatement – the pollutant, abatement technology and how it’s maintained and monitored to provide continuous and effective abatement</li>
					<li>continuous emissions monitors (CEMs) where proposed – the pollutant and the monitoring standards the CEMs meet</li>
					<li>the stack and flue configuration and sample points of aggregated stacks for new or existing MCP</li>
					</ul>
					<p>The regulator will set the monitoring requirements based on:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>Annex III of the MCPD</li>
					<li>the information you submit with your application</li>
					</ul>
					<h2 class="govuk-heading-m"><a id="Get_help_with_your_application_140"></a>Get help with your application</h2>
					<p>See guidance on how to <a href="https://www.gov.uk/guidance/waste-environmental-permits#help">get help with your application</a>.</p>
					<h2 class="govuk-heading-m"><a id="Submit_your_application_144"></a>Submit your application</h2>
					<p>Email your completed forms to <a href="mailto:PSC@environment-agency.gov.uk">PSC@environment-agency.gov.uk</a> or post them to:</p>
					<p>Permitting and Support Centre<br>
					Environmental Permitting Team<br>
					Quadrant 2<br>
					99 Parkway Avenue<br>
					Parkway Business Park<br>
					Sheffield<br>
					S9 4WF</p>
					<h2 class="govuk-heading-m"><a id="After_you_apply_155"></a>After you apply</h2>
					<p>The regulator may reject your application if, for example you have:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>not used the right forms</li>
					<li>forgotten to include the fee or sent the wrong fee</li>
					<li>not provided important information</li>
					</ul>
					<p>Once the regulator has the information they need to start assessing your application, they will contact you and tell you that your application is ‘duly made’. You’ll be notified if your application is duly made within:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>one month in England</li>
					<li>21 working days in Wales</li>
					</ul>
					<p>The regulators may request more information if they need it to complete their assessment.</p>
					<h3 class="govuk-heading-s"><a id="After_you_get_your_permit_167"></a>After you get your permit</h3>
					<p>Once the regulators have issued your permit they will add your details to:</p>
					<ul class="govuk-list govuk-list--bullet">
					<li>the Environment Agency’s <a href="https://environment.data.gov.uk/public-register/view/index">public register</a> in England</li>
					<li>Natural Resources Wales <a href="#">public register</a> in Wales</li>
					</ul>
					<p>See guidance on <a href="guide8.html">how to comply with your permit</a> and how you’ll be regulated.</p>

</div><!-- END MCP_CONTENT -->


						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
