{% set pageTitle="Medium combustion plant: when you need a permit" %}

{% set pageSummary="Find out if and by when you need to apply for a medium combustion plant directive (MCPD) environmental permit to meet air quality requirements." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
						</div>


						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>


<div id="mcp-content">

						<p>An MCP includes all of the following:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>a combustion unit, such as an engine, boiler or turbine</li>
						<li>any abatement</li>
						<li>the attached stack or flue</li>
						<li>air cooling where it’s part of the combustion unit</li>
						</ul>
						<p>A MCP does not include:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>fuel handling or storage</li>
						<li>waste handling equipment</li>
						<li>external water or air cooling</li>
						</ul>
						<p>Use this guidance to work out if your MCP:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>is excluded from MCPD controls</li>
						<li>generates electricity, whether both the MCPD and specified generator regulations apply</li>
						<li>capacity is covered by the regulations</li>
						<li>is classed as new or existing</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Excluded_MCP_17"></a>Excluded MCP</h2>
						<p>Some MCP are excluded from the MCPD requirements. Check if your type of MCP is in scope of the requirements.</p>
						<h3 class="govuk-heading-s"><a id="MCPs_that_are_also_under_the_Industrial_Emissions_Directive_IED_21"></a>MCPs that are also under the Industrial Emissions Directive (IED)</h3>
						<p>MCPD controls do not apply to IED:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>chapter 3 - large combustion plant</li>
						<li>chapter 4 - incinerators or co-incinerators</li>
						</ul>
						<p>MCPD controls may apply to IED Chapter 2 installations. Read how to meet <a href="guide1.html">MCPD requirements for IED Chapter 2 installations</a>.</p>
						<h3 class="govuk-heading-s"><a id="MCPs_that_are_also_an_EPR_Part_B_activity_30"></a>MCPs that are also an EPR Part B activity</h3>
						<p>Read guidance on the <a href="guide9.html">requirements for MCPs that are also a Part B activity</a>.</p>
						<h3 class="govuk-heading-s"><a id="Mobile_MCP_and_mobile_boilers_34"></a>Mobile MCP and mobile boilers</h3>
						<p>MCPD controls do apply to mobile MCP that were placed on the market (for distribution or use) before 1 January 2017 and have an engine above 560 kW drive output.</p>
						<p>If these MCP were placed on the market before 1 January 2017 but were operated for the first time after 20 December 2018, they will be classed as <a href="#explanation-new">new MCP rather than existing MCP</a>.<br>
						MCPD controls do not apply if your mobile MCP was placed on the market after 1 January 2017. They’re covered by the revised <a href="http://www.legislation.gov.uk/uksi/2018/764/made">Non Road Mobile Machinery Regulations (NRMM)</a>. These regulations extended the scope of the previous NRMM Directive (engines up to 560 kW drive) to include engines with no upper size threshold.<br>
						MCPD controls do apply to mobile boilers on trailers for transporting from site to site.</p>
						<h3 class="govuk-heading-s"><a id="Onfarm_combustion_42"></a>On-farm combustion</h3>
						<p>MCPD controls do not apply to on-farm combustion MCP if both of these apply, it:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>has a rated thermal input of 5MWth or less</li>
						<li>only uses unprocessed poultry manure as fuel</li>
						</ul>
						<p>These MCP are regulated under the animal by-product regulations.</p>
						<p>If other types of manure (mixed or unmixed) are used, the MCP will be classed as using ‘other solid fuel’ and MCPD controls will apply.</p>
						<h3 class="govuk-heading-s"><a id="Direct_heating_and_drying_52"></a>Direct heating and drying</h3>
						<p>MCPD controls do not apply to MCP that use the gaseous products of combustion for direct heating, drying or other treatment of materials.</p>
						<p>Examples of this include:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>annealing of metals</li>
						<li>brick manufacture</li>
						<li>vehicle spray booths where combustion is used to condition the air</li>
						<li>asphalt plants where aggregates are heated and dried before being added to asphalt</li>
						<li>concrete block and precast concrete product manufacture where heat is used to speed up the curing process</li>
						<li>mortar plants where sand is heated and dried before being added to the mortar</li>
						<li>chemical reactors where a direct flame is used</li>
						</ul>
						<p>MCPD controls do apply to autoclaves that use steam because the steam is not a gaseous product of combustion. For example, aircrete block manufacture where hot steam is used to speed up the curing process.</p>
						<h3 class="govuk-heading-s"><a id="Direct_gas_fired_heating_67"></a>Direct gas fired heating</h3>
						<p>MCPD controls do not apply to MCP that use the gaseous products of combustion for direct gas-fired heating to improve indoor workplace conditions. This is where the flame itself provides the heat, rather than where the flame heats a fluid that is then used to transfer heat to the surrounding work space.</p>
						<h3 class="govuk-heading-s"><a id="Flare_stacks_71"></a>Flare stacks</h3>
						<p>MCPD controls do not apply to flares for disposal of waste gases.</p>
						<h3 class="govuk-heading-s"><a id="Post_combustion_plant_designed_to_purify_waste_gases_75"></a>Post combustion plant designed to purify waste gases</h3>
						<p>MCPD controls may apply to MCP used to destroy odour or abate volatile organic compounds (VOCs) which do not run as an independent combustion plant. It will depend if the primary purpose of the combustion unit is to provide:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>heat – MCPD controls do apply</li>
						<li>abatement – MCPD controls do not apply</li>
						</ul>
						<p>For example if:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>odorous gases are used as part of the boiler feed air, MCPD controls will apply to the boiler</li>
						<li>the combustion plant has a post combustion supplementary fired thermal oxidiser to destroy odour</li>
						</ul>
						<p>MCPD controls do not apply to the supplementary fired thermal oxidiser<br>
						However, this type of abatement, if the combustion plant is part of a Part A or B installation will need to meet <a href="https://www.gov.uk/guidance/best-available-techniques-environmental-permits">best available techniques (BAT)</a>.</p>
						<h3 class="govuk-heading-s"><a id="Vehicle_ship_or_aircraft_88"></a>Vehicle, ship or aircraft</h3>
						<p>MCPD controls do not apply to any technical apparatus used to propel a vehicle, ship or aircraft, including auxiliary engines in ships.</p>
						<h3 class="govuk-heading-s"><a id="Offshore_platforms_92"></a>Offshore platforms</h3>
						<p>MCPD controls do not apply to gas and diesel engines and gas turbines (GTs) installed on offshore platforms. See <a href="https://www.legislation.gov.uk/uksi/2018/110/regulation/16/made">Schedule 25A</a> to check the location requirements.</p>
						<h3 class="govuk-heading-s"><a id="Refineries_96"></a>Refineries</h3>
						<p>MCPD controls do not apply to MCP in gas or oil refinery installations firing:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>refinery fuel gas (RFG) alone</li>
						<li>refinery fuel oil (RFO) alone</li>
						<li>RFG or RFO combined with commercial fuels</li>
						</ul>
						<p>MCPD controls do apply to MCP firing these fuels adjacent to but independent from the refinery.</p>
						<p>MCPD controls do not apply to these refinery activities:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>fluid catalytic cracking units including carbon monoxide heat recovery boilers</li>
						<li>sulphur recovery units that convert hydrogen sulfide to sulphur</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Crematoria_and_cowpers_111"></a>Crematoria and cowpers</h3>
						<p>MCPD controls do not apply to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>crematoria</li>
						<li>cowpers</li>
						</ul>
						<h3 class="govuk-heading-s"><a id="Pulp_recovery_boilers_118"></a>Pulp recovery boilers</h3>
						<p>MCPD controls do not apply.</p>
						<h3 class="govuk-heading-s"><a id="Research_development_and_testing_122"></a>Research, development and testing</h3>
						<p>MCPD controls do not apply for:</p>
						<p>•   test beds for engines and turbines<br>
						•   commissioning trials for new combustion plant<br>
						•   antique plant in museums - because they are operated less than 500 hours per year</p>
						<h3 class="govuk-heading-s"><a id="Firefighting_training_facilities_130"></a>Firefighting training facilities</h3>
						<p>MCPD controls do not apply because the training facility uses the smoke not the heat generated.</p>
						<h2 class="govuk-heading-m"><a id="Capacity_134"></a>Capacity</h2>
						<p>MCPD controls apply to all in scope MCP with a rated thermal input of each unit between 1 and 50 megawatts thermal (MWth) regardless of the type of fuel used.</p>
						<p>Rated thermal input is the capacity of the MCP. It’s calculated using the net calorific value (CV) not the gross CV. You can:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>ask the manufacturer for this value</li>
						<li>calculate it using <a href="https://www.amps.org.uk/sites/default/files/uploads/Determination%20of%20thermal%20input%20power%20of%20an%20engine%20driven%20generator.pdf">Association of Manufacturers of Power generating Systems (AMP) method (pdf)</a></li>
						</ul>
						<p>You must aggregate 2 or more MCP on the same site when the MCPs are classed as new.</p>
						<h2 class="govuk-heading-m"><a id="When_a_MCP_is_classed_as_new_or_existing_145"></a>When a MCP is classed as new or existing</h2>
						<p>The date you must have your MCPD permit in place depends on whether your MCP is new or existing.<br>
						A MCP is classed as:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>new - if it’s put into operation on or after 20 December 2018</li>
						<li>existing - if it’s put into operation before 20 December 2018</li>
						</ul>
						<p>‘Put into operation’ means the MCP has been fired up to its full load with the fuel it’s designed to use. This can be during commissioning.</p>
						<p>For example mobile MCP do not have to be deployed to be put into operation. It may have already been commissioned.</p>
						<p>You must have proof of the date the MCP was put into operation. The record must be traceable to the combustion unit via a unique identifier such as a serial number or manufacturer’s name plate.</p>
						<p>An existing MCP will become a new MCP if it’s:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>altered or repaired and this changes the ELV, for example if it’s converted to use natural gas instead of heavy fuel</li>
						<li>substantially refurbished and the refurbishment costs are more than 50% of what a new comparable MCP would cost</li>
						</ul>
						<p>An existing MCP may be classed as a Tranche B specified generator. Check the <a href="guide2.html">definition of a Tranche B generator</a>.</p>
						<p>New or existing MCPs have different <a href="guide4.html">emission limit values</a> to meet.</p>
						<h3 class="govuk-heading-s"><a id="When_you_must_aggregate_168"></a>When you must aggregate</h3>
						<p>You can only aggregate new MCPs. Aggregating separate discharge points, for example stacks, can improve dispersion.</p>
						<p>Form a single MCP by adding together the rated thermal input of 2 or more separate plant on your site that discharge the waste gas through a common windshield. A common windshield is a shared structure or stack and it may contain one or more flues. The total capacity discharging through the common windshield must be between 1 and 50 MWth. Do not count any units measuring less than 1 MWth.</p>
						<p>Operators must not avoid aggregation:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>by separating discharge points</li>
						<li>to minimise costs</li>
						</ul>
						<p>When the Environment Agency or NRW assess the aggregation they’ll consider if:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the separate discharges are a common windshield by looking at technical and economic factors - for example, whether safety rules require separate discharge points</li>
						<li>there’s no reason why the discharges cannot be aggregated by looking at parameters like distance, flow and back pressure</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Permitting_and_compliance_dates_182"></a>Permitting and compliance dates</h2>
						<p>You must apply for your permit and have it in place by:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>20 December 2018 or before it’s commissioned, whichever is the later, if it’s a new MCP</li>
						<li>1 January 2024 if it’s an existing MCP and the capacity is between 5 and 50 MWth</li>
						<li>1 January 2029 if it’s an existing MCP and the capacity is between 1 and less than 5 MWth</li>
						</ul>
						<p>You must comply with your MCPD permit by:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>20 December 2018 or from date of issue if it’s a new MCP</li>
						<li>1 January 2025 if it’s an existing MCP and the capacity is between 5 and 50 MWth</li>
						<li>1 January 2030 it’s an existing MCP and the capacity is between 1 and less than 5 MWth</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Emission_limit_values_ELVs_195"></a>Emission limit values (ELVs)</h2>
						<p>You need to identify:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the emission limit values (ELVs) your plant must meet</li>
						<li>if your plant is exempt from meeting the ELVs</li>
						</ul>
						<p>Read the guidance on <a href="guide4.html">complying with emission limit values</a>.</p>


</div><!-- END MCP_CONTENT -->


						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
