{% set pageTitle="Part B activities: combustion and incineration permits" %}

{% set pageSummary="Find out if medium combustion plant directive or specified generator regulations apply to your operations." %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>


				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018<br>
					Last updated 21 March 2019<br>
					From: Defra, Welsh Government, Environment Agency, National Resources Wales
				</p>

				</div>
			</div>
</div>

<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

						<div class="blue-box">
								<p class="govuk-body govuk-!-font-size-16">Applies to: England and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
						</div>

						<div class="contents">
								<h3 class="govuk-body govuk-!-font-size-16 mcp-contents-head">Contents</h3>
							<ol class="govuk-list" id="mcp-contents-list">
								<!-- List itrems added by jQuery script on each page -->
							</ol>
						</div>


<div id="mcp-content">


						<p>The medium combustion plant directive (MCPD) aims to improve air quality by controlling emissions to air. It sets emission limits for these pollutants:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>NOx</li>
						<li>SO2</li>
						<li>dust</li>
						</ul>
						<p>MCPD and specified generator regulations apply to some Part B activities, in particular for sections:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>1.1 - combustion activities</li>
						<li>5.1 - incineration of waste wood</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="When_MCPD_and_specified_generator_regulations_apply_9"></a>When MCPD and specified generator regulations apply</h2>
						<p>To work out if the regulations apply to your combustion plant you’ll need to know:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>the rated thermal input</li>
						<li>the type of plant</li>
						<li>the material it burns</li>
						<li>if it generates electricity</li>
						</ul>
						<p>Some medium combustion plants and generators are excluded from the regulations. Read the guidance to check for exclusions:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>medium combustion plants: when you need a permit</li>
						<li>specified generators: when you need a permit</li>
						</ul>
						<p>Follow these steps to find out if MCPD and specified generator controls apply to your combustion plant and whether it’s also a Part B.</p>
						<h3 class="govuk-heading-s"><a id="Step_1_capacity_23"></a>Step 1: capacity</h3>
						<p>Combustion plant capacity is defined by its rated thermal input. It’s calculated using the net calorific value (CV) not the gross CV. You can ask the manufacturer for this value or you can calculate it using <a href="https://www.amps.org.uk/sites/default/files/uploads/Determination%20of%20thermal%20input%20power%20of%20an%20engine%20driven%20generator.pdf">Association of Manufacturers of Power generating Systems (AMP) method (pdf)</a>.</p>
						<p>MCPD and specified generator controls may apply to your combustion plant if it’s not excluded and the rated thermal input is:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>between 20 MWth and 50 MWth – go to step 2</li>
						<li>between 1 MWth and 20 MWth – go to step 3</li>
						<li>less than 1 MWth if it generates electricity and is aggregated to a site specified generator</li>
						</ul>
						<p>If it’s 50 MWth or more MCPD and specified regulations do not apply. You’ll need an <a href="https://www.gov.uk/guidance/a1-installations-environmental-permits">A1 installations permit</a>.</p>
						<h3 class="govuk-heading-s"><a id="Step_2__type_of_plant_34"></a>Step 2 - type of plant</h3>
						<p>If you have one of these types of plant, MCPD controls apply and it is also a Part B Section 1.1:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>boiler</li>
						<li>furnace</li>
						<li>gas turbine</li>
						<li>compression ignition engine</li>
						</ul>
						<p>Go to step 4 to see if specified generator regulations also apply.</p>
						<p>If your plant is not one of these types and is between 20 MWth and 50 MWth you need to read the guidance [Medium combustion plant: when you need a permit]. MCPD controls may apply to your plant, but you will not need a Part B permit.</p>
						<h3 class="govuk-heading-s"><a id="Step_3__plant_burns_waste_biomass_46"></a>Step 3 – plant burns waste biomass</h3>
						<p>Waste biomass is defined in IED Article 31(3)(b).</p>
						<p>If your plant does not burn waste biomass and is between 1MWth and 20MWth you need to read the guidance [Medium combustion plant: when you need a permit]. MCPD controls may apply to your plant but you will not need a Part B permit.</p>
						<p>If your plant does burn waste biomass and its capacity is less than 3 tonnes per hour MCPD controls apply and your plant is also a Part B Section 5.1.</p>
						<p>Note: MCP of 1MWth equates to around 200-250kg per hour depending on the calorific value of the waste. Plants under 1 MWth do not need a MCPD permit.</p>
						<p>Go to step 4 to see if specified generator regulations also apply.</p>
						<p>If your plant’s capacity is 3 tonnes per hour or more (equivalent to around 15-18 MWth depending on the calorific value of the waste) it’s a Part A(1) activity. Read the guidance for <a href="https://www.gov.uk/guidance/a1-installations-environmental-permits">Part A(1) installations</a>.</p>
						<p>If you already have an environmental permit you may need to <a href="#">vary it</a> to include MCPD requirements – this will be the date from when your combustion plant qualifies. If you’re applying for a new Part A(1) permit the regulators will include MCPD requirements in your permit conditions. As part of your application you’ll need to submit information showing you can meet the required ELVs.</p>
						<h3 class="govuk-heading-s"><a id="Step_4__plant_generates_electricity_62"></a>Step 4 – plant generates electricity</h3>
						<p>If your plant also generates electricity it’s a Part B and both MCPD and specified generator controls apply.</p>
						<p>If it does not generate electricity your plant is a Part B and MCPD controls apply.<br>
						Read the detailed guidance on the controls in these documents:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="#">1.1 - combustion plant of 20 to 50 MWth</a></li>
						<li><a href="#">5.1 - incineration or combustion of waste wood</a></li>
						</ul>
						<h2 class="govuk-heading-m"><a id="Dates_for_meeting_MCPD_and_specified_generator_requirements_71"></a>Dates for meeting MCPD and specified generator requirements</h2>
						<p>You need to check the date from which you must meet MCPD and specified generator requirements.</p>
						<h3 class="govuk-heading-s"><a id="New_MCP_75"></a>New MCP</h3>
						<p>If your MCP was put into operation from 20 December 2018 it’s classed as ‘new’. You must have a permit and meet the requirements from 20 December 2018 or from the date you commission your MCP.</p>
						<h3 class="govuk-heading-s"><a id="Existing_MCP_79"></a>Existing MCP</h3>
						<p>If your MCP was put into operation before 20 December 2018 it’s classed as ‘existing’. This means you qualify for more time to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>apply for your permit</li>
						<li>vary your current Part B permit</li>
						<li>meet the requirements</li>
						</ul>
						<p>The deadlines are:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>1 January 2025 for MCP with a capacity of 5 to less than 50 MWth</li>
						<li>1 January 2030 for MCP with a capacity of 1 to less than 5 MWth</li>
						</ul>
						<p>For the detail see the guidance <a href="guide2.html">Medium combustion plant: when you need a permit</a></p>
						<h3 class="govuk-heading-s"><a id="Tranche_A_or_B_specified_generator_92"></a>Tranche A or B specified generator</h3>
						<p>Your generator is classed as Tranche A and means you have more time to meet the requirements if one of these apply:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>it was put into operation before 1 December 2016</li>
						<li>any capacity agreement or balancing services or Feed In Tariff (FIT) contract ended before 1 October 2017</li>
						</ul>
						<p>All other generators are classed as Tranche B. They’re usually new builds or operating under an agreement or contract after 1 October 2017. They must meet the requirements by 1 January 2019.</p>
						<p>See <a href="https://www.gov.uk/government/publications/permits-for-schedule-25b-tranche-b-specified-generators-rps-219">Regulatory Position Statement (RPS) 219</a> to check for the latest deadline in England.</p>
						<p>For the detail see the guidance <a href="guide3.html">Specified generators: when you need a permit</a></p>
						<h3 class="govuk-heading-s"><a id="When_both_MCP_and_specified_generator_controls_apply_104"></a>When both MCP and specified generator controls apply</h3>
						<p>You’ll need to:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>meet the requirements with the stricter emission limits</li>
						<li>get your permit by the earliest date set in the regulations</li>
						</ul>
						<h2 class="govuk-heading-m"><a id="More_than_one_activity_110"></a>More than one activity</h2>
						<p>If the MCP is a directly associated activity (DAA) to a different Part B or A(2) installation outside of sections 1.1 and 5.1 you’ll need 2 permits:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>a Local Air Pollution Prevention and Control (LAPPC) permit for the primary activity from the Local Authority (LA)</li>
						<li>a MCPD standalone environmental permit to meet MCPD requirements from the Environment Agency or NRW</li>
						</ul>
						<p>The MCPD regulators will consult the relevant LA on the MCPD permit conditions.</p>
						<h2 class="govuk-heading-m"><a id="When_a_BAT_assessment_is_required_117"></a>When a BAT assessment is required</h2>
						<p>A BAT assessment is required for MCPs that are:<br>
						•   on a Part A(1) and A(2) regulated installation and one or more MCP is part of the whole installation<br>
						•   part of a Part B installation – BAT applies to the whole installation, but for air emissions only</p>
						<p>MCPD ELVs are set as a minimum standard on all other MCPs unless they’re exempt from meeting ELVs. See the guidance <a href="guide4.html">Complying with MCPD emission limit values</a>.</p>
						<p>The Environment Agency or NRW will do the BAT assessment.</p>
						<h2 class="govuk-heading-m"><a id="Apply_for_a_Section_51_or_11_Part_B_permit_126"></a>Apply for a Section 5.1 or 1.1 Part B permit</h2>
						<p>Before you apply for your permit see the statutory guidance:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="#">process guidance note (PGN) 1/1 (18) – combustion plant of capacity 20MWth to 50MWth</a></li>
						<li><a href="#">PGN 5/1 (18) – incineration/combustion of waste wood</a></li>
						</ul>
						<p>Use these PGNs for:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>a description of BAT for these activities, including mandatory requirements</li>
						<li>a list of techniques that can be used</li>
						<li>what may be included as permit conditions</li>
						</ul>
						<p>See guidance on how to apply for a:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li><a href="guide6.html">MCPD standalone environmental permit</a></li>
						<li><a href="guidde7.html">specified generator standalone environmental permit</a></li>
						</ul>
						<p>You’ll need to apply for a bespoke <a href="guide6.html">MCPD</a> or <a href="guide7.html">specified generator</a> environmental permit.</p>
						<h2 class="govuk-heading-m"><a id="Regulators_143"></a>Regulators</h2>
						<p>In England, Wales and Northern Ireland, Part B activities are currently regulated by LAs. Where an activity is both Part B and MCP or specified generator, from the date your combustion plant qualifies, they are regulated by:</p>
						<ul class="govuk-list govuk-list--bullet">
						<li>Environment Agency for England</li>
						<li>Natural Resources Wales (NRW) for Wales</li>
						<li><a href="https://www.daera-ni.gov.uk/articles/medium-combustion-plant-directive-and-specified-generators">Department of Agriculture, Environment and Rural Affairs (DAERA) for Northern Ireland</a></li>
						<li>The <a href="https://www.sepa.org.uk/regulations/pollution-prevention-and-control/medium-combustion-plant/">Scottish Environment Protection Agency (SEPA)</a> is the regulator for all of these activities in Scotland.</li>
						</ul>



</div><!-- END MCP_CONTENT -->


						<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the regulator</h2>
							<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

									<h4 class="govuk-heading-s">General enquiries</h4>

						<p class="adr">
							<span class="fn">National Customer Contact Centre</span><br>
							<span class="street-address">PO Box 544</span><br>
							<span class="locality">Rotherham</span><br>
							<span class="postal-code">S60 1BY</span>
						</p>

							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>

						</div>

					</div><!-- END govuk-grid-column-two-thirds -->


						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
							<br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">
						</div>

			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
