{% set pageTitle="MCP guidance drafts index" %}

{% set pageSummary="Pages from draft MCP guuidance" %}

{% extends "layout-guide.html" %}

{% block pageTitle %}
	{{ pageTitle }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">{{ pageTitle }}</h2>
							<p class="govuk-body-l">{{ pageSummary }}</p>
						</div>

				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>



<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

<p>&nbsp;</p>

				<ul class="govuk-list">


<li><a href="guide1">Guide 1: Medium combustion plant and specified generators: environmental permits</a></li>
<li><a href="guide2">Guide 2: Medium combustion plant: when you need a permit</a></li>
<li><a href="guide3">Guide 3: Specified generators: when you need a permit</a></li>
<li><a href="guide4">Guide 4: Complying with medium combustion plant (MCP) emission limit values</a></li>
<li><a href="guide5">Guide 5: Specified generator: comply with permit conditions</a></li>
<li><a href="guide6">Guide 6: Apply for a medium combustion plant permit</a></li>
<li><a href="guide7">Guide 7: Specified generator: apply for an environmental permit</a></li>
<li><a href="guide8">Guide 8: Medium combustion plant and specified generator permits: how to comply</a></li>
<li><a href="guide9">Guide 9: Part B activities: combustion and incineration permits</a></li>
<li><a href="guide10">Guide 10: Specified generators: dispersion modelling assessment</a></li>



				</ul>




					</div><!-- END govuk-grid-column-two-thirds -->



			</div><!-- END govuk-grid-row -->
		</div><!-- END govuk-width-container -->



{% endblock %}
