{% extends "layout.html" %}

 {% set title = "The apply for a standard rules
permit service has moved" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        The apply for a standard rules permit service has moved
      </h1>

      <h2 class="govuk-heading-m">
        If you have a saved application (do one of these things):
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          look in your inbox for an email with a new link
        </li>
        <li>
          go to the <a class="govuk-link" href="/v24/save-and-return/already-started">new site</a>, open the ‘I cannot find the email’ link and resend the email
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        If you followed a link from another web page
      </h2>

      <p class="govuk-body">
        Go to the new site: <a class="govuk-link" href="https://apply-for-environmental-permit.service.gov.uk">apply-for-environmental-permit.service.gov.uk</a>.
      </p>

      <h2 class="govuk-heading-m">
        To get help with this
      </h2>
      <p class="govuk-body">
        Email <a class="govuk-link" href="mailto:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a> or call us on 02030 253 898 (Monday to Friday, 8am to 5pm).
      </p>


    </div>
  </div>


{% endblock %}
