{% extends "layout.html" %}

{% block page_title %}
  Prototype change log
{% endblock %}

<!--
REGEXP replacements for google HTML
 class="c[0-9][0-9]? ?c?[0-9][0-9]?"
</?span>

<h2 class="heading-large"   with  <h2 class="heading-large" class="heading-large"
-->

{% block content %}

<main id="content" role="main">

  <h1 class="govuk-heading-l">
  Prototype change log
  </h1>

  <p>This summarises the main changes we've made in response to feedback.</p>
  
  <h2 class="govuk-heading-m">Version 23 to 24</h2>
  <p><a href="index-v24">Version 24</a></p>


  <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Summary of change in v24</th>
          <th class="govuk-table__header" scope="col">User need, reason or source</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Building bespoke pages into the new prototype kit</td>
          <td class="govuk-table__cell">So the code can be used for front end tool kit, prototype will continue to be supported, componant styles and patterns will be kept updated via nunjucks</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Version 18 to 19</h2>
    <p><a href="index-v19">Version 19</a></p>
  
  
    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v19</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">To add</td>
            <td class="govuk-table__cell">For user research.</td>
          </tr>
        </tbody>
      </table>
  
      <h2 class="govuk-heading-m">Version 17 to 18</h2>
      <p><a href="index-v18">Version 18</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v18</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Developing extra features for bespoke permit application up to MVP v3</td>
            <td class="govuk-table__cell">For user research.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 16 to 17</h2>
      <p><a href="index-v17">Version 17</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v17</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Developing extra features for bespoke permit application up to MVP v2.2</td>
            <td class="govuk-table__cell">For user research.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 15 to 16</h2>
      <p><a href="index-v6">Version 16</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v16</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add absolute minimum screens for bespoke permit application.</td>
            <td class="govuk-table__cell">For user research.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 14 to 15</h2>
      <p><a href="index-v15">Version 15</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v15</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add trial screens for bespoke permit application based on v2.1 wireframes.</td>
            <td class="govuk-table__cell">For testing in the team.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 13 to 14</h2>
      <p><a href="index-v14">Version 14</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v14</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Remove all contractions from the text (for example "can't").</td>
            <td class="govuk-table__cell">Research in other services found that some users missed or did not understand negative contractions.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 12 to 13</h2>
      <p><a href="index-v13">Version 13</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v13</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add screens to allow sole traders and individuals to apply for a permit. Add sole trader as an option so that we can capture their extra business details.
            </td>
            <td class="govuk-table__cell">After companies, individuals are the next most common group of applicants (about 6% of applications). Defra stores customer records for businesses (in this case 'sole traders') separately from private individuals, so we designed the screens to allow users to identify themselves in a simple way and show them the required screens.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Replace the technical competence PDF with a Word and ODT version
            </td>
            <td class="govuk-table__cell">During testing we found that applicants using Chrome browser to download and open the PDF form could not save the form and were uploading a blank form. We've replaced the PDF with Word and ODT versions that Chrome does not try to open.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Allow applicants for 'car breaker' - end of life vehicle - permits to check if their drainage system meets the rules
            </td>
            <td class="govuk-table__cell">Users can't get a permit if they don't meet the rules and for these rule sets, the drainage requirements are not always spotted in the rule sets. We've broken out the requirements as options and explain if there is a problem. It's not an ideal method, but it makes the content clearer than a block of text.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move Company Secretary email screens to a new single screen.
            </td>
            <td class="govuk-table__cell">We had limited feedback that there's still some confusion about what this address is used for so we've rewritten the help text and moved the input to its own screen.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add a feature to check cost and processing time
            </td>
            <td class="govuk-table__cell">The Strategic Review of Charging introduced increased and new charges in April 2018. We had past feedback that users really valued having clear information about costs and with the new charges we felt there was a clear user need to know the cost of the application.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add routing screens for permit holders that are not companies
            </td>
            <td class="govuk-table__cell">The private beta service will work for companies but not for other applicant types. We want to make sure that other applicants are directed to the PDF form version of the service. Users told us that they find content on GOV.UK hard to navigate so we've given them links directly to the forms they need.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add routing screens for rule sets that are not in the private beta. If users select a permit that we don't deal with in the service they are given a link to go directly to the correct forms.
            </td>
            <td class="govuk-table__cell">We want to make sure that applicants are directed to correct method for applying if they cannot apply online.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add a route for users who (incorrectly) end up on the service trying to apply for standard rules that we don't offer yet - for example flood risk.
            </td>
            <td class="govuk-table__cell">We want to make sure that applicants are directed to correct method for applying if they cannot apply online.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Provide link to guidance for users who need to know how to identify the legal operator.
            </td>
            <td class="govuk-table__cell">There is detailed guidance about this on GOV.UK so we provide a link to the correct guidance.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Implement a few small content changes to improve accessibility. For example, change the order of information in the 'check company' screen.
            </td>
            <td class="govuk-table__cell">We carried out an accessibility review and implemented the changes to improve accessibility. This will be validated by an external review including users with access needs.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Minor updates to the technical competence screens.
            </td>
            <td class="govuk-table__cell">Some terms used by the qualification awarding bodies had been changed and we had feedback from subject matter experts about minor updates to the conditions.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add a screen to allow users to give details about the technically competent managers and the sites they supervise.
            </td>
            <td class="govuk-table__cell">This requirement arrived late in the development process and we needed a tactical solution. We've provided a means to download a PDF form and upload it again. It's not ideal but seems to work OK.
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 11 to 12</h2>
      <p><a href="index-v12">Version 12</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v12</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Added a simple save and return method into the service
            </td>
            <td class="govuk-table__cell">There is a strong user need to be able to complete the application over a number of sessions. We've added a method based on an alpha GDS pattern that uses an email with a return link. We did have this before but it had been removed for the 'reduced' MVP.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Updated Bacs payment information
            </td>
            <td class="govuk-table__cell">We added account name to the Bacs details. It's not required by the Bacs standard, but when we did a little research on typical bank payment screens, we discovered that it's an optional field. We felt it would be helpful to users to say what to use.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Added back links to 3 pages: check answers, payment and Bacs
            </td>
            <td class="govuk-table__cell">These were added to have a consistent interface for users.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Update content following a content review by legal and subject matter experts.
            </td>
            <td class="govuk-table__cell">These were added to have a consistent interface for users.
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 10 to 11</h2>
      <p><a href="index-v11">Version 11</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v11</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add BACS payment information to the final page and the application received email
            </td>
            <td class="govuk-table__cell">We'd seen some evidence from earlier testing - where we added the BACS payment information to a separate page - showing some users did not click through to the final page. Therefore we've move the details to the final page and changed the continue button to 'Send application'.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Added GOV.UK Pay as the method for card payments instead of Worldpay.
            </td>
            <td class="govuk-table__cell">GOV.UK Pay offers a better user experience and is more accessible than the Worldpay option.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Change done page to match new GDS pattern
            </td>
            <td class="govuk-table__cell">The GDS pattern for the done page was updated to increase the heading size and margins.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Change use of term 'technical management' to 'technical competence'
            </td>
            <td class="govuk-table__cell">Guidance on GOV.UK refers to 'technical competence' and so it's better for users to have a consistent use of terminology.
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 9 to 10</h2>
      <p><a href="index-v10">Version 10</a></p>
    
      <p>v10 contains many big changes following a decision to build a slightly smaller MVP. We won't list all those changes here but these are the major changes.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v10</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Allow users to skip postcode entry for site without a postcode.
            </td>
            <td class="govuk-table__cell">Some (rural) sites don't have a postcode and this causes problems for users.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Clarify help text for directors' date of birth.
            </td>
            <td class="govuk-table__cell">A couple of users thought that this is a ‘security credential’ not to allow us to ‘perform’ a security check.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Adjust category names to add 'land treatment'.
            </td>
            <td class="govuk-table__cell">A user pointed out that the land treatment text in storage hint was confusing and that adding the keyword to mobile plant would help select this category with confidence.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Remove save and return (for now)
            </td>
            <td class="govuk-table__cell">We know users want this but we don't have enough information about the required software (Identity Management) to build this yet.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add page to list everything that is needed for the application
            </td>
            <td class="govuk-table__cell">Without save and return, users need to know up front what they need in order to apply.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Add page to allow users to apply using PDF forms, if their permit choice or applicant type is not available in the service.
            </td>
            <td class="govuk-table__cell">Users need to know how to apply, even if they can't apply online initially because some permits are not covered by the service.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Remove cost page and move cost to what you need page.
            </td>
            <td class="govuk-table__cell">Users like this page but it's not critical to a successful application so it has been de-prioritised for MVP.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move management scheme information to the declaration section.
            </td>
            <td class="govuk-table__cell">It's not critical to a successful application so it has been de-prioritised for MVP.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move applicant (permit holder) type page to before the task list.
            </td>
            <td class="govuk-table__cell">Allows non-company users to apply, even if they can't apply online initially because we will build first for limited companies only.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Clarify on the 'application sent' what happens after we receive the application. Remove reference to 5 days.
            </td>
            <td class="govuk-table__cell">Users were slightly confused about the use of the term 'complete'. Users who had applied before (agents) knew the term 'duly made' and wondered if that was the same as 'complete'. The timescale was included becasue we thought it was helpful but users found it confusing.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Combine company name and address page.
            </td>
            <td class="govuk-table__cell">The two items are for users to check and are not editable so it is a simplification to show them together in context. Testing shows that this performs OK.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move Company Secretary email to the contact details screen.
            </td>
            <td class="govuk-table__cell">When this was collected separately, and later, users were confused about which contact would get what information. We've put the inputs together and so far testing shows that this is clearer to users.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move technical manager contact to after the qualification type pages.
            </td>
            <td class="govuk-table__cell">When this was collected first, users were confused because they did not always have a name of someone with a qualification, if they were in the process of setting up a site and the person was 'getting' the qualification. Testing shows that users are happy with this new flow.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Move technical manager contact to after the 'qualification type' pages.
            </td>
            <td class="govuk-table__cell">When this was collected first, users were confused because they did not always have a name of someone with a qualification, if they were in the process of setting up a site and the person was 'getting' the qualification. Testing shows that users are happy with this new flow.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Replace WAMITAB number with a certificate upload.
            </td>
            <td class="govuk-table__cell">Our initial data suggested that most people (>98%) had a certificate. New data says that >40% will be 'getting a qualification' so we've simplified the screens to capture whatever evidence they need to provide.
            </td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Added ‘That’s not our registered office address’ help text to explain what to do if the company address is not correct
            </td>
            <td class="govuk-table__cell">We heard one bit of evidence that some company owners may use a solicitor or company agent and had not since changed their address. As this blocks the application, this seems important to address.
            </td>
          </tr>
        </tbody>
      </table>
<!--
      <h2 class="govuk-heading-m">Version 8 to 9</h2>
      <p><a href="index-v9">Version 9</a></p>
    

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v9</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 7 to 8</h2>
      <p><a href="index-v8">Version 8</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v8</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 6 to 7</h2>
      <p><a href="index-v7">Version 7</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v7</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 5 to 6</h2>
      <p><a href="index-v6">Version 6</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v6</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 4 to 5</h2>
      <p><a href="index-v5">Version 5</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v5</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 3 to 4</h2>
      <p><a href="index-v4">Version 4</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v4</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 2a to 3</h2>
      <p><a href="index-v3">Version 3</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v3</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 2 to 2a</h2>
      <p><a href="index-v2a">Version 2a</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v2a</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 1 to 2</h2>
      <p><a href="index-v2">Version 2</a></p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v2</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">User feedback.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Version 0 to 1</h2>
      <p><a href="index-v0">Version 0</a> was a baseline version based closely on the paper forms</p>
      <p><a href="index-v1">Version 1</a> was our first main iteration for testing</p>
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v1</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table>

    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Summary of change in v0</th>
            <th class="govuk-table__header" scope="col">User need, reason or source</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">x</td>
            <td class="govuk-table__cell">x</td>
          </tr>
        </tbody>
      </table> -->

      <p>&nbsp;</p>

<p>Feedback from EA staff:<br>
<a href="https://www.google.com/url?q=https://docs.google.com/spreadsheets/d/1l9rOKtvEv3bDHRTY1mMIomZILgJTXKMBqeambUU_kg8/&amp;sa=D&amp;ust=1493385821250000&amp;usg=AFQjCNH2AiVeDgjATBcVLRyyzzt_dSbxNQ">https://docs.google.com/spreadsheets/d/1l9rOKtvEv3bDHRTY1mMIomZILgJTXKMBqeambUU_kg8/</a></p>



</main>

{% endblock %}
