
{% extends "layout.html" %}

{% block pageTitle %}
Apply for a standard rules environmental permit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a standard rules environmental permit prototype: Beta
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>

      <p><a href="/v24/cls">Clear permit data</a></p>
      <h2 class="govuk-heading-m">Prototype change log</h2>

      <p><a href="/change-log" target="_blank">Up to version 10 </a></br>
        <a href="/change-log2" target="_blank">Version 10 onwards <a></p>
  

      <h2 class="govuk-heading-m">Prototype of the environmental permit application journey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/index-v24">Version 24</a>
        <li><a href="/index-v23">Version 23</a>
        <li><a href="/index-v22">Version 22</a>
        <li><a href="/index-v21">Version 21</a>
        <li><a href="/index-v20">Version 20</a>
        <li><a href="/index-v19">Version 19</a>
        <li><a href="/index-v18">Version 18</a>
        <li><a href="/index-v17">Version 17 (bespoke up to v3.1 - in progress)</a>
        <li><a href="/index-v16">Version 16 (bespoke absolute minimum)</a>
        <li><a href="/index-v15">Version 15 (bespoke v2.1 - in progress)</a>
        <li><a href="/index-v14">Version 14</a>
        <li><a href="/index-v13">Version 13</a>
        <li><a href="/index-v12">Version 12</a>
        <li><a href="/index-v11">Version 11</a>
        <li><a href="/index-v10">Version 10</a>
        <li><a href="/index-v9">Version 9</a>
        <li><a href="/index-v8">Version 8</a>
        <li><a href="/index-v7">Version 7</a>
        <li><a href="/index-v6">Version 6</a>
        <li><a href="/index-v5">Version 5</a>
        <li><a href="/index-v4">Version 4</a>
        <li><a href="/index-v3">Version 3</a>
        <li><a href="/index-v2a">Version 2a</a>
        <li><a href="/index-v1">Version 1</a>
        <li><a href="/index-v0">Version 0</a>
        <li><a href="/index-ex">Experimental pages</a>




        </li>
      </ul>
    </div>
</div>

{% endblock %}
